<!--
<div class="row" style="color: #010100">
  <div class="col-md-12">
    <nav class="navbar navbar-default">
      <div class="container-fluid">
        <div class="collapse navbar-collapse" >
          <ul class="nav navbar-nav" style="position: center">
            <li routerLinkActive="active"><a routerLink="/admin/food-item">Food Item</a> </li>
            <li routerLinkActive="active"><a routerLink="/admin/set-menu">Set Menu</a> </li>
            <li routerLinkActive="active"><a routerLink="/admin/inventory">Inventory</a> </li>
            <li routerLinkActive="active"><a routerLink="/admin/reports">Reports</a> </li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</div>
<div class="row">
  <div class="col-md-12" >
    <router-outlet></router-outlet>
  </div>
</div>
-->

<div class="row">
  <div class="col-md-2 buttons">

    <a routerLink = "/admin/food-item/grid-view" routerLinkActive = "active-link">
    <div class="col-md-12 regulars">
      Food Items
    </div>
    </a>

    <a routerLink = "/admin/inventory" routerLinkActive = "active-link">
      <div class="col-md-12 regulars">
        Inventories
      </div>
    </a>

    <a routerLink = "/admin/orders/list-view" routerLinkActive = "active-link ">
      <div class="col-md-12 regulars ">
        Orders
      </div>
    </a>

    <a routerLink = "/admin/tables" routerLinkActive = "active-link">
      <div class="col-md-12 regulars">
        Tables
      </div>
    </a>

    <a routerLink = "/admin/summary-of-inventories" routerLinkActive = "active-link">
      <div class="col-md-12 regulars">
        Summary of Inventories
      </div>
    </a>




  </div>
  <div class="col-md-10 go-left">
    <router-outlet></router-outlet>
  </div>
