<div class="col-xs-12">
  <hr class="col-xs-12">
  <button type="button" class="btn btn-primary" (click)="onAddItem()">Add New Item</button>
  <button type="button" class="btn btn-primary" (click)="onGetData()">View Item</button>
</div>

<div class="col-md-6" *ngIf="viewItem">
  <div class="row">
    <table>
      <tr>
        <th>Id</th>
        <br>
        <th>Name</th>
        <br>
        <th>Price</th>
      </tr>
      <tr *ngFor="let item of foodItems">
        <a >
          <td>{{item.Id}}</td>
          <br>
          <td [id]="item.Name">{{item.Id}}</td>
          <td>{{item.Price}}</td>
        </a>
      </tr>
    </table>
    <!--<div class="col-md-5">-->
    <!--<div class="row">-->
    <!--<div class="col-md-5">-->
    <!--<p>Food Item Name</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--<div class="row">-->
    <!--<div class="col-md-5">-->
    <!--<p>Food Item Price</p>-->
    <!--</div>-->
    <!--</div>-->
    <!--</div>-->
  </div>
</div>
<div class="row" *ngIf="addNew">
  <hr>
  <div class="col-md-6">
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <input [(ngModel)]="name" placeholder="Enter name">
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <div class="form-group">
          <input [(ngModel)]="price" placeholder="Enter price">
        </div>
      </div>
    </div>
    <!--<div class="row">-->
      <!--<div class="col-xs-12">-->
        <!--<div class="form-group">-->
          <!--<input [(ngModel)]="foodItemImage" placeholder="Enter Image Url">-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <button type="submit"
                class="btn btn-success" (click)="onSubmit()">Save</button>
        <button type="button" class="btn btn-danger" (click)="onCancel()">Cancel</button>
      </div>
    </div>
  </div>
</div>


