


<div class="row">
  <div class="col-xl-12">
    <h6>General Information</h6>
  </div>
</div>

<hr>
<div class="row"style="font-weight: 500; font-size: 20px;">
  <div class="col-xl-12">
    Serial Number: {{ foodItem.SerialNumber }}
  </div>
</div>
<br>


<div class="row">
  <div class="col-xl-1">
    <img [src]="foodItem.FoodItemImageName"
         style="width: 150px;height: 150px;">
  </div>
</div>

<br>

<div class="row" style="font-weight: 500; font-size: 17px;">
  <div class="col-xl-12">
    Food Item's Name: {{ foodItem.Name }}
  </div>
</div>



<div class="row"style="font-weight: 500; font-size: 17px;">
  <div class="col-xl-12">
    Selling Price: {{ foodItem.Price }} BDT
  </div>
</div>

<br>

<div class="row">
  <div class="col-xl-12">
    Inventory Cost: {{ foodItem.InventoryCost }} BDT
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    Profit: {{ foodItem.Profit }} BDT
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    Total Sale: {{ foodItem.TotalSale }}(s)
  </div>
</div>





<br>

<div class="row" *ngIf="foodItem.Ingredients.length === 0; else ingredientsExist">
  <div class="col-xl-12" style="font-weight: 500;">

    No ingredients available.

  </div>
</div>


<ng-template #ingredientsExist>

  <div class="row">
    <div class="col-xl-12">
      <h6>Ingredients List</h6>
    </div>
  </div>





  <div class="row">
    <div class="col-xl-10">



      <table border=1 cellpadding=10 width="100%">
        <tr style="font-weight: 500;">
          <td>Product's Name</td>
          <td>Product's Quantity</td>
          <td>Per Unit Price</td>
          <td>Sub Total</td>
        </tr>

        <tr
          *ngFor="let ingredient of foodItem.Ingredients; let i = index">
          <td>
            {{ getIngredientInfo(ingredient.InventoryId, 'Name') }}
          </td>
          <td>
            {{ ingredient.Quantity }}
            {{ getIngredientInfo(ingredient.InventoryId, 'Unit') }}
          </td>
          <td>
            {{ getIngredientInfo(ingredient.InventoryId, 'Price') }}
          </td>
          <td>
            <div class="row">
              <div class="col-xl-6">
                {{ ingredient.SubTotal.toFixed(3) }}
              </div>
            </div>


          </td>


        </tr>
      </table>


    </div>
  </div>


</ng-template>


<br>

<div class="row text-xl-left">
  <div class="col-xl-10">

    <button
      routerLink="/admin/food-items/{{foodItemId}}/edit-food-item"
      class="btn btn-warning">Edit</button> &nbsp;

    <button
      (click)="deleteFoodItem()"
      class="btn btn-danger">Delete</button>

  </div>
</div>



