<!--



<div class="row">
  <form (ngSubmit) = "onEditItem(newItem)" #newItem = "ngForm">
    <div class="col-md-offset-1 col-md-9 order-detail">
      <div class="row buttons">
        <div class="col-md-2 back">
          <button class="back-button-cancel" (click)="onCancel()"><i class="fa fa-times-circle-o" aria-hidden="true"></i>
            Cancel</button>
        </div>
        <div class="col-md-8 edit-mode">
          Edit Mode
        </div>
        <div class="col-md-2 delete">
          <button class="back-button"
                  [disabled]="!newItem.valid || isDisabled"
                  type="submit"
                  title="Save this item"
          ><i class="fa fa-bookmark" aria-hidden="true"></i>
            Save</button>
        </div>
      </div>
      <div class="row prod-name">
        <div class="col-md-8">
          <div class="form-group">
            <label for="name">Item's Name:</label>
            <input
              type="text"
              id="name"
              class="form-control"
              [ngModel]="name"
              name="name"
              required
            >
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="unit">Unit:</label>
            <input
              type="text"
              min="1"
              id="unit"
              class="form-control"
              [ngModel] = "unit"
              name="unit"
              required
            >
          </div>
        </div>
      </div>
    </div>
  </form>
</div>



-->
<div class="row" style="font-weight: 500;">
  <div class="col-xl-12">
    Edit Information of {{ inventory.Name }}
  </div>
</div>

<br>


<form (ngSubmit) = "onEditInventoryItem(editInventoryItem)" #editInventoryItem= "ngForm">

  <div class="row form-group">
    <div class="col-xl-6">

      <label for="name">Item's Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        [ngModel]="inventory.Name"
        name="name"
        #name="ngModel"
        required>

      <p
        style="color: red; margin-bottom: 0;"
        *ngIf="name.invalid && (name.dirty || name.touched)">
        Item's name is required!
      </p>

    </div>
  </div>






  <div class="row">
    <div class="col-xl-6 text-xl-right">
      <button
        [disabled]="editInventoryItem.invalid || isDisabled"
        type="submit"
        class="btn btn-success">Save</button>
      &nbsp;
      <button
        type="button"
        routerLink="/admin/inventories"
        class="btn btn-danger">Discard</button>
    </div>
  </div>


</form>
