<div class="col-md-12 name">
  <form (ngSubmit) = "onAddNewTable(newTable)" #newTable = "ngForm">
    <div id="user-data">
      <div class="form-group">
        <label for="name">Table's Name:</label>
        <input
          type="text"
          id="name"
          class="form-control"
          ngModel
          name="name"
          required
        >
      </div>

      <div class="form-group">

        <div class="action">
          <button class="all-categories-button"
                  type="submit"
                  [disabled]="!newTable.valid || isDisabled">
            <i class="fa fa-bookmark" aria-hidden="true"></i> Save</button>
        </div>
        <div class="action">
          <button class="all-categories-button" type="button" (click)="onCancel()">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i> Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
