.name , .price{
  padding-top: 15px;
  color: #840d0f;
  font-family:"Berlin Sans FB";
  font-size: 21px;
}
.title, .whole {
  margin-top:  26px;
}
.f-name {
  color: #840d0f;
  font-family: "Times New Roman";
  font-size: 17px;
  font-weight: bold;
  background-color: white;
  max-height: 60vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.all-categories-button {
  width:100%;
  height:100%;
  font-family:"Arial Narrow";
  color: #840d0f;
  background-color: white;
  border: 1.2px solid #840d0f;
  border-radius: 5px;
  font-size:14px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}


.all-categories-button:hover{
  background-color: #840d0f;
  color: white;
  font-family:"Arial Narrow";
  font-weight:bold;
  border: 1.2px solid #ffffdf;
  border-radius: 5px;
}

.all-categories-button:focus{
  outline:0;
}


.quantity{
  padding-top: 15px;
  color: #ae0000;
  font-family:"Berlin Sans FB";
  font-size: 21px;
}


.body{
  padding-top: 5px;
  padding-bottom: 5px;
}


::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.box{
  width: 200px;
  height: 30px;
  background: #fcfcfc;
  border: 2px solid #9c0000;
  border-radius: 15px;
  text-indent: 32px;
  color: #9c0000;
  font-size: 12px;
  font-family: "Lato","Lucida Grande", "Helvetica", "Verdana", "Arial";
}

.box:focus{
  outline: 0;
}

.fa-search {
  position: absolute;
  top: 26px;
  left: 30px;
  font-size: 13px;
}

.edit-delete{
  padding-bottom: 10px;
}

.header{
  color: #770000;
  font-size: 21px;
  font-family: "Berlin Sans FB";
  text-align: left;
  margin-top: 10px;
  border:1px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@import url('https://fonts.googleapis.com/css?family=Acme|Aladin|Berkshire+Swash|Cabin+Sketch|Chewy|Fredoka+One|Kanit|Lobster|Londrina+Solid|Righteous|Rock+Salt');
.hodoo {
  font-family: 'Berkshire Swash',"Berlin Sans FB","Times New Roman";
  font-size:40px;
  // padding-left: 38px;
  text-align: right;
  color: #7e0000;
}

.hodoo:focus {
  outline: 0;
}

.dashboard{
  width:20%;
  height:100%;
  font-family:"Arial Narrow";
  color: #aa0909;
  background-color: ghostwhite;
  /*border: 1.2px solid #ae0000;
  border-radius: 5px;*/
  font-size:16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}



.dashboard:hover{
  color: #6a0d0e;
  background-color: ghostwhite;
  font-family:"Arial Narrow";
  font-weight:bold;
  /* border: 1.2px solid #ffffdf;
   border-radius: 5px;*/
}
.main-row{
  border-bottom: 2px double #dfdfdf;
}

.total-table{
  font-family: "Times New Roman";
  font-size: 18px;
  color: #6a0d0e;
  font-weight: bold;
  padding-top: 10px;
}
