
<div class="row main-row">
  <div class="col-md-8 header">
    Manage Your Tables
  </div>
  <a routerLink="/control-panel">
    <div class="col-md-offset-1 col-md-2 dashboard">
    Back to Dashboard
    </div>
  </a>
</div>
<div class="row">
  <div class="col-md-offset-9 col-md-2 add-new">
    <button class="all-categories-button" (click)="addNewTable()">
      <i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Table</button>
  </div>
</div>
<div class="row title" *ngIf="totalTable !== 0">
  <div class="col-md-8">
    <div class="col-md-3 name">
      Table's Name
    </div>
    <div class="col-md-offset-5 col-md-2 quantity">
      <span class="fa fa-search"></span>
      <input class="box" type="text" [(ngModel)]="term" placeholder="Search Tables...">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8" *ngIf="totalTable !== 0; else empty">

    <div class="row f-name">

      <div class="col-md-12 body table-bordered" *ngFor="let table of tables | filter:term; let i = index">

        <div class="col-md-8 body">
        {{ table.Name }}
        </div>

        <div class="col-md-2 body">
            <button
              class="all-categories-button"
              (click)="editTable(table,i)">
              <i class="fa fa-pencil-square-o" aria-hidden="true"></i> Edit</button>
        </div>

        <div class="col-md-2 body">
          <button class="all-categories-button"
                  (click)="deleteTable(table,i)">
            <i class=" fa fa-trash" aria-hidden="true"></i> Delete</button>
        </div>

      </div>


    </div>

    <div class="row">
      <div class="col-md-12 total-table">
        Total Table: {{ totalTable }} (s)
      </div>
    </div>
  </div>
  <ng-template #empty>
    <div class="col-md-8 empty">
      No table available. Click "Add New Table" to populate
    </div>
  </ng-template>
  <div class="col-md-4">

        <router-outlet></router-outlet>



  </div>
</div>


