



<div class="row" *ngIf="orders.length === 0; else notEmpty">
  <div class="col-md-12">
    No order is arrived yet. Go to POS to create an order.
  </div>
</div>




<ng-template #notEmpty>

    <form (ngSubmit)="filterOrdersByDate(orderFilterForm)" #orderFilterForm = "ngForm">

      <div class="row">

        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-12 col-12">

          <button
            (click)="defaultOrders()"
            type="button"
            class="btn btn-primary">All Orders</button>

        </div>


        <div class="col-xl-4 col-lg-4 col-md-5 col-sm-6 col-8 order-list-top">

          <input
            type="text"
            id="date"
            autocomplete="off"
            onkeydown="return false"
            ngModel
            name="date"
            required
            class="form-control"
            placeholder="Date range"
            [bsConfig]="{ rangeInputFormat: 'Do MMMM YYYY', containerClass: 'theme-dark-blue'}"
            bsDaterangepicker/>

        </div>

        <div class="col-xl-2 col-lg-2 col-md-3 col-sm-6 col-12 order-list-top">

          <button
            type="submit"
            [disabled] = "orderFilterForm.invalid"
            class="btn btn-primary">Filter Orders</button>

        </div>
      </div>

    </form>




  <mat-form-field style="padding-top: 20px;">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Search...">
  </mat-form-field>

  <div class="mat-elevation-z8" style="box-shadow: none!important;">
    <table  mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="Id">
        <th
          style="font-size: 14px;  font-weight: 500; color: #000;"
          mat-header-cell *matHeaderCellDef mat-sort-header> Id </th>
        <td
          style="width: 8%"
          mat-cell *matCellDef="let row"> {{row.Id}} </td>
      </ng-container>


      <ng-container matColumnDef="DateTime">
        <th
          style="font-size: 14px; font-weight: 500; color: #000; text-align: center;"
          mat-header-cell *matHeaderCellDef> DateTime </th>
        <td style="width: 20%; word-break: break-word;" mat-cell *matCellDef = "let row">
          {{ row.DateTime }} </td>
      </ng-container>


      <ng-container matColumnDef="GrossTotalPrice">
        <th
          style="font-size: 14px; font-weight: 500; color: #000;"
          mat-header-cell *matHeaderCellDef mat-sort-header> Gross Total Price</th>
        <td
          style="width: 15%"
          mat-cell *matCellDef="let row" > {{row.GrossTotalPrice}} BDT </td>
      </ng-container>


      <ng-container matColumnDef="TableId">
        <th
          style="font-size: 14px; font-weight: 500; color: #000;"
          mat-header-cell *matHeaderCellDef mat-sort-header> Table </th>
        <td
          style="width: 10%"
          mat-cell *matCellDef="let row" >  {{ adminService.getTableName(tables, row.TableId) }} </td>
      </ng-container>

      <ng-container matColumnDef="CurrentState">
        <th
          style="font-size: 14px; font-weight: 500; color: #000;"
          mat-header-cell *matHeaderCellDef mat-sort-header> Current State </th>
        <td
          style="width: 12%"
          mat-cell *matCellDef="let row" > {{row.CurrentState}} </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          style="cursor: pointer;"
          title="See details"
          routerLink="/admin/orders/{{ row.Id }}">
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[100, 250, 500, 1000]" showFirstLastButtons></mat-paginator>
  </div>


  <div class="row" style="font-size: 17px; font-weight: 500;">
    <div class="col-xl-12">

      Reports

    </div>
  </div>
  <hr>

  <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
    <div class="col-xl-12">

      Total orders: {{ filteredOrders.length }}(s)

    </div>
  </div>

  <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
    <div class="col-xl-12">

      Total Selling Amount: {{ getOrderReport('totalSellingAmount').toFixed(2) }} BDT

    </div>
  </div>

  <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
    <div class="col-xl-12">

      Total Inventory Cost: {{ getOrderReport('totalInventoryCost').toFixed(2) }} BDT

    </div>
  </div>

  <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
    <div class="col-xl-12">

      Total Profit Gained: {{ getOrderReport('totalProfitGained').toFixed(2) }} BDT

    </div>
  </div>

  <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
    <div class="col-xl-12">

      Total Discount Given: {{ getOrderReport('totalDiscountGiven').toFixed(2) }} BDT

    </div>
  </div>


  <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
    <div class="col-xl-12">

      Total Vat Collected: {{ getOrderReport('totalVatCollected').toFixed(2) }} BDT

    </div>
  </div>

  <div class="row" style="padding-top: 5px; padding-bottom: 5px;">
    <div class="col-xl-12">

      Total Service Charge Collected: {{ getOrderReport('totalServiceChargeCollected').toFixed(2) }} BDT

    </div>
  </div>

</ng-template>
