<div class="row empty" *ngIf="total === 0; else notEmpty">
  <div class="col-md-12 col-lg-12 col-sm-12 col-xs-12">
  No item is available
  </div>
</div>

<ng-template #notEmpty>

<div class="row">
  <div class="col-lg-3 col-md-3 food-body">
      <i class="fa fa-search"></i>
      <input class="box" type="text" [(ngModel)]="term" placeholder="Search Products...">
  </div>
</div>




<div class="row left">
    <div class="col-lg-4 col-md-4"
         *ngFor="let foodItems of FoodItem | filter:term
        ; let i = index">
      <div class="row">
        <div class="col-lg-8 col-md-8 name">
       SN-{{ foodItems.SerialNo }}.   {{ foodItems.Name }}
        </div>
        <div class="col-lg-4 col-md-4 price">
          {{ foodItems.Price }} BDT
        </div>
      </div>
      <div class="row">
        <div class="col-lg-12 col-md-12 ">
          <img [src]="foodItems.FoodItemImageName"
               class="image"
          >
        </div>
      </div>
      <div class="row">
        <div class="col-lg-4 col-md-4">
          <button
            class="all-categories-button"
            (click)="UpdateCart(foodItems.Id, foodItems.Price,
            foodItems.Name, foodItems.SerialNo, foodItems.InventoryCost, true, i)">
            Add
          </button>
        </div>
        <div class="col-lg-4 col-md-4 input-box">
          <input type="number"
                 min="1"
                 id="amount"
                 class="form-control"
                 [(ngModel)]="selectedQuantity[i]"
                 #amountInput
          >
        </div>
        <div class="col-lg-4 col-md-4">
          <button
            class="all-categories-button"
            (click)="UpdateCart(foodItems.Id, foodItems.Price,foodItems.Name,
             foodItems.InventoryCost, false, i)">
            Remove
          </button>
        </div>
      </div>
    </div>
</div>
</ng-template>
