
<div class="row" >
    <div class="col-md-4" *ngFor="let foodItems of FoodItem; let i = index">
      <div class="row">
        <div class="col-md-8 name">
          {{ foodItems.Name }}
        </div>
        <div class="col-md-4 price">
          {{ foodItems.Price }} BDT
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img [src]="foodItems.FoodItemImage"
               class="img-responsive image"
               style= "height: 260px"
          >


        </div>
      </div>
      <div class="row">
        <div class="col-md-4 test">
          <button
            class="all-categories-button"
            (click)="UpdateCart(foodItems.Id, foodItems.Price, foodItems.Name, true, i)">
            Add
          </button>
        </div>

        <div class="col-md-4 test">
          <input type="number"
                 min="1"
                 id="amount"
                 class="form-control"
                 [(ngModel)]="selectedQuantity[i]"
                 #amountInput
          >
        </div>

        <div class="col-md-4 test">
          <button
            class="all-categories-button"
            (click)="UpdateCart(foodItems.Id, foodItems.Price,foodItems.Name, false, i)">
            Remove
          </button>
        </div>
      </div>

    </div>

</div>
