
<!--<div class="row">
  <div class="col-md-offset-8 col-md-4 food-body">
    <div class="search">
      <span class="fa fa-search"></span>
      <input class="box" type="text" [(ngModel)]="term" placeholder="Search Products...">
    </div>
  </div>
</div>-->


<div class="row">
  <div class="col-md-3 food-body">
      <span class="fa fa-search"></span>
      <input class="box" type="text" [(ngModel)]="term" placeholder="Search Products...">
  </div>
</div>




<div class="row left">
    <div class="col-md-4"
         *ngFor="let foodItems of FoodItem | filter:term
        ; let i = index">
      <div class="row ">
        <div class="col-md-8 name">
          {{ foodItems.Name }}
        </div>
        <div class="col-md-4 price">
          {{ foodItems.Price }} BDT
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <img [src]="foodItems.FoodItemImage"
               class="img-responsive image"
               style= "height: 260px"
          >

        </div>
      </div>
      <div class="row">
        <div class="col-md-4 test">
          <button
            class="all-categories-button"
            (click)="UpdateCart(foodItems.Id, foodItems.Price, foodItems.Name, true, i)">
            Add
          </button>
        </div>

        <div class="col-md-4 test">
          <input type="number"
                 min="1"
                 id="amount"
                 class="form-control"
                 [(ngModel)]="selectedQuantity[i]"
                 #amountInput
          >
        </div>

        <div class="col-md-4 test">
          <button
            class="all-categories-button"
            (click)="UpdateCart(foodItems.Id, foodItems.Price,foodItems.Name, false, i)">
            Remove
          </button>
        </div>
      </div>

    </div>

</div>

<!--
[disabled] = "checkNegativeQuantity(foodItems.Id)"-->
