<div class="row">
  <div class="col-md-offset-1 col-md-9 order-detail">
    <div class="row buttons">
      <div class="col-md-2 back">
        <button class="back-button" (click)="goBack()"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
          Back</button>
      </div>
      <div class="col-md-offset-4 col-md-2 change-image">
        <button class="change-image-button" (click)="changeImage(FoodItem)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          Change Image</button>
      </div>
      <div class="col-md-2 edit">
        <button class="back-button" (click)="edit(FoodItem)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          Edit</button>
      </div>
      <div class="col-md-2 delete">
        <button class="back-button" (click)="deleteFoodItem()"><i class="fa fa-trash" aria-hidden="true"></i>
          Delete</button>
      </div>
    </div>
    <div class="fixed-div">
    <div class="row">
      <div class="col-md-12 general">
        General Informations
      </div>
    </div>


    <div class="row header">
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12 image">
            <img [src]="FoodItem.FoodItemImage"
                 class="img-responsive image"
                 style= "height:90px"
            >
          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
          <div class="col-md-12 item-name">
            {{ FoodItem.Name }}
          </div>
        </div>
        <div class="row">
          <div class="col-md-6 selling-price">
            Selling Price: {{ FoodItem.Price }} BDT
          </div>
          <div class="col-md-6 making-price">
            Making Cost: {{ FoodItem.MakingCost }} BDT
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 selling-price">
            Profit: {{ FoodItem.Profit }} BDT
          </div>
        </div>
      </div>
    </div>
    <div class="row general">
      <div class="col-md-12">
        Ingredients
      </div>
    </div>
    <div class="row units ">
      <div class="col-md-3">
        Product
      </div>
      <div class="col-md-2 other">
        Quantity
      </div>
      <div class="col-md-2 other">
        Unit
      </div>
      <div class="col-md-2 other">
        Unit Price
      </div>
      <div class="col-md-3 other">
        Sub Total
      </div>
    </div>
    <div  class="scrollable-div" >
      <div class="row table-bordered units-details" *ngFor="let products of FoodItem.Ingredients, let i = index">
        <div class="col-md-3 " >
          {{ i+1 }}. {{ products.Name }}
        </div>
        <div class="col-md-2 other">
          {{ products.Quantity }}
        </div>
        <div class="col-md-2 other">
          {{ products.Unit}}
        </div>
        <div class="col-md-2 other">
          {{ products.InventoryPrice }}
        </div>
        <div class="col-md-3 other">
          {{ products.Quantity * products.InventoryPrice }} BDT
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 general">
        Additional Information
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 additional">
        Total Sale of {{ FoodItem.Name }} : ({{ FoodItem.TotalSale }})s
      </div>
    </div>
    </div>
  </div>
</div>


