<div class="row">
  <div class="col-md-12 Your-Purchased-Foods">
    Your purchased foods:
  </div>
  <div class="col-md-12 baal" *ngFor="let order of orderedItems">

    Item: {{ order.SetMenuName }}<br>
   Unit Price: {{ order.Price }}<br>
    Quantity: {{ order.Quantity }}<br>
   Sub Total: {{ order.SubTotal }}<br><br>

  </div>
</div>

<div class="col-md-12 baal" *ngIf="grandTotal==0; else itemIsSold">
 You have not purchased any food yet!
</div>

<ng-template #itemIsSold>
  <div class="col-md-12 baal">
   Total Price: {{ grandTotal }}
    <button routerLink="/our-offers" style="color: black;" class="smpbutton" (click)="AddToOrderedList();"  >Confirm Purchase</button>
  </div>
</ng-template>
