.name , .price{
  color: #ae0000;
  font-family:"Times New Roman";
  font-size: 13px;
  padding-top: 5px;
  padding-bottom: 2px;
}
.image{
  height: 100%;
  width: 100%;
  border: 1px solid #ffffff;
  border-radius: 6px;
}

.f-name {
  padding-top: 20px;
  color: #ae0000;
  font-family: "Times New Roman";
  font-size: 15px;
  font-weight: bold;
}

.all-categories-button {
  width:100%;
  height:100%;
  font-family:"Arial Narrow";
  color: #d32039;
  background-color: #ffffdf;
  border: 1.2px solid #ae0000;
  border-radius: 5px;
  font-size:16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
}


.all-categories-button:hover{
  background-color: #d32039;
  color: #ffffdf;
  font-family:"Arial Narrow";
  font-weight:bold;
  border: 1.2px solid #ffffdf;
  border-radius: 5px;
}

.all-categories-button:focus{
  outline:0;
}


.header{
  color: #770000;
  font-size: 21px;
  font-family: "Berlin Sans FB";
  text-align: left;
  margin-top: 10px;
  border:1px;
  border-radius: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
}
.main-row{
  border-bottom: 2px double #dfdfdf;
}




::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

@import url('https://fonts.googleapis.com/css?family=Acme|Aladin|Berkshire+Swash|Cabin+Sketch|Chewy|Fredoka+One|Kanit|Lobster|Londrina+Solid|Righteous|Rock+Salt');
.hodoo {
  font-family: 'Berkshire Swash', cursive;
  font-size:40px;
  text-align: right;
  color: #7e0000;
}

.hodoo:focus {
  outline: 0;
}

.dashboard{
  width:20%;
  height:100%;
  font-family:"Arial Narrow";
  color: #aa0909;
  background-color: ghostwhite;
  font-size:16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}



.dashboard:hover{
  color: #6a0d0e;
  background-color: ghostwhite;
  font-family:"Arial Narrow";
  font-weight:bold;
  }
.box{
  width: 230px;
  height: 25px;
  background: #fcfcfc;
  border: 2px solid #9c0000;
  border-radius: 10px;
  text-indent: 32px;
  color: #9c0000;
  font-size: 11px;
  font-family: "Lato","Lucida Grande", "Helvetica", "Verdana", "Arial";
}

.box:focus{
  outline: 0;
}

.fa-search {
  position: absolute;
  top: 7px;
  left: 23px;
  font-size: 11px;
}

.search-bar{
  margin-top: 10px;
}
.body{
  max-height: 45vh;
  overflow-y: scroll;
  overflow-x: hidden;
  border: 1px solid #cbc6cb;
  border-radius: 5px;
  margin-top: 20px;
  padding-left: 0;
  padding-right: 0;
  color: #6a0d0e;
}
.items{
  background-color: white;
  color: #6a0d0e;
  font-family: "Times New Roman";
  font-size: 13px;
  font-weight: bold;
  border: 1px double #dfdfdf;
  border-radius: 10px;
}

.money{
  border:1px solid white;
  background-color: #a50f10;
  color: white;
  border-radius: 8px;
  padding-left: 2px;
  padding-right: 2px;
  text-align: center;
}

.order-date{
  font-weight: normal;
  padding-top: 1px;
  padding-bottom: 3px;
}
.order-id{
  padding-top: 3px;
}

.table-and-money{
  padding-top: 6px;
  padding-right: 6px;
  padding-bottom: 10px;
}

a{
  color: #6a0d0e;
}
.Summary{
  font-family:"Times New Roman";
  color: #520606;
  font-size: 16px;
  font-weight: bold;
  padding-top: 3px;
  padding-bottom: 3px;
}

.detail{
  font-family:"Times New Roman";
  color: #630606;
  font-size: 15px;
  font-weight: bold;
  padding-top: 8px;
  padding-bottom: 2px;
}

.empty{
  font-family:"Times New Roman";
  color: #630606;
  font-size: 20px;
  font-weight: bold;
  padding-top: 20px;
  text-align: center;
}
