<div class="col-md-12" style="color: #feff26; font-family: 'Times New Roman'">
  <form (ngSubmit) = "onAddNewFoodItem(newFoodItem)" #newFoodItem = "ngForm">
    <div id="user-data">
      <div class="form-group">
        <label for="name">Item Name:</label>
        <input
          type="text"
          id="name"
          class="form-control"
          ngModel
          name="name"
          required
        >
      </div>

      <div class="form-group">
        <label for="price">Price:</label>
        <input
          type="number"
          min="1"
          id="price"
          class="form-control"
          ngModel
          name="price"
          required
        >
      </div>
        <div>
          <div *ngIf = "checkIfIngredientsExist() === 0; else addMoreIngredients">
          <button class="btn btn-success"
                  type="submit"
                  [disabled]="!newFoodItem.valid">Add Ingredients</button>
          </div>

          <ng-template #addMoreIngredients>
            <button class="btn btn-success"
                    type="submit"
                    [disabled]="!newFoodItem.valid">Add Another Ingredient</button>
            <button [disabled]="!newFoodItem.valid"
                    class="btn btn-success"
                    type="submit"
                    (click)="onSaveFoodItem()">Save</button>
          </ng-template>
          <button class="btn btn-danger" type="button" (click)="onCancel()">Cancel</button>

        </div>
      </div>
  </form>
</div>
<router-outlet></router-outlet>
