<div class="row">
  <div class="col-xl-12">
    <h6>General Information</h6>
  </div>
</div>

<hr>
<div class="row" style="font-weight: 500; font-size: 20px;">
  <div class="col-xl-12">
    Order ID: {{ order.Id }}
  </div>
</div>

<div class="row" style="font-weight: 500; font-size: 20px;">
  <div class="col-xl-12">
    Date Time: {{ order.DateTime }}
  </div>
</div>


<br>
<div class="row" style="font-weight: 500; font-size: 17px;">
  <div class="col-xl-12">
    Current State: {{ order.CurrentState }}
  </div>
</div>



<div class="row" style="font-weight: 500; font-size: 17px;">
  <div class="col-xl-12">
    Sales Person: {{ order.SalesPersonName }}
  </div>
</div>

<br>

<div class="row">
  <div class="col-xl-12">

    Inventory Cost: {{ order.InventoryCost }} BDT

  </div>
</div>

<div class="row">
  <div class="col-xl-12">

    Profit: {{ order.Profit }} BDT

  </div>
</div>



<div class="row">
  <div class="col-xl-10">

    <div class="row" *ngFor="let orderSession of order.OrderSessions; let i = index">
      <div class="col-xl-8 col-lg-8">

        <div class="row" style="text-align: left;

                 padding-top: 30px;
                 padding-bottom: 2px;">
          <div class="col-xl-12">
            Session: {{ i + 1 }}
          </div>
        </div>


        <div class="row"
             *ngIf="orderSession.OrderedDateTime !== ''"
             style="font-size: 13px;  padding-bottom: 5px; padding-top: 5px;">
          <div class="col-xl-12">
            Ordered at: {{ orderSession.OrderedDateTime }}
          </div>
        </div>

        <div class="row"
             *ngIf="orderSession.ServedDateTime !== ''"
             style="font-size: 13px; padding-bottom: 5px; padding-top: 5px;">
          <div class="col-xl-12">
            Served at: {{ orderSession.ServedDateTime }}
          </div>

        </div>

        <table border=1 cellpadding=10 width="100%">
          <tr style="font-weight: 500;">
            <td>SN & Name</td>
            <td>Price</td>
            <td>Quantity</td>
            <td>Total</td>
          </tr>

          <tr
            *ngFor="let orderedItem of orderSession.OrderedItems
         | paginate: { itemsPerPage: 3, currentPage: pageNumber }">
            <td style="width: 20%;">
              {{ getFoodItemInformation('Name and Serial', orderedItem.FoodItemId) }}
            </td>
            <td style="width: 10%;">
              {{ getFoodItemInformation('Price', orderedItem.FoodItemId) }} BDT
            </td>
            <td style="width: 8%;">
              {{ orderedItem.FoodItemQuantity }} (s)
            </td>
            <td style="width: 10%;">
              {{ orderedItem.TotalPrice }} BDT
            </td>
          </tr>
        </table>

        <div class="row" style=" padding-top: 5px;">
          <div class="col-xl-12">

           Session Total: {{ getSessionTotalPrice(orderSession) }} BDT

          </div>
        </div>


      </div>
    </div>

    <br>

    <div
      class="row">
      <div class="col-xl-8 col-lg-8">

        Total: {{ order.TotalPrice }} BDT

      </div>
    </div>



    <div
      *ngIf="setting.VatRate !== null && setting.VatRate !== 0"
      class="row">
      <div class="col-xl-8 col-lg-8">

        Vat {{ setting.VatRate }}%: {{ order.VatAmount.toFixed(2) }} BDT

      </div>
    </div>

    <div class="row"
         *ngIf="setting.ServiceChargeRate !== null && setting.ServiceChargeRate !== 0"
        >
      <div class="col-xl-8 col-lg-8">

        Service Charge {{ setting.ServiceChargeRate }}%: {{ order.ServiceChargeAmount.toFixed(2) }} BDT

      </div>
    </div>

    <div class="row"
         *ngIf="order.DiscountRate !== 0">
      <div class="col-xl-8 col-lg-8">

         <span *ngIf="order.DiscountType === 'Percent'">
           Discount {{ order.DiscountRate }}%: {{ order.DiscountAmount.toFixed(2) }} BDT
           </span>

        <span *ngIf="order.DiscountType === 'Flat'">
           Flat Discount {{ order.DiscountRate }} BDT
           </span>

      </div>
    </div>

    <br>
    <div class="row"
         style="
           font-size: 17px;
           font-weight: 500;">
      <div class="col-xl-8 col-lg-8">

        Gross Total: {{ order.GrossTotalPrice.toFixed(2) }} BDT

      </div>
    </div>
    <br>

    <div class="row" *ngIf="order.Tendered !== null">
      <div class="col-xl-8 col-lg-8">

        Tendered: {{ order.Tendered }} BDT

      </div>
    </div>


    <div class="row"
         *ngIf="order.Change !== null" >
      <div class="col-xl-8 col-lg-8">

        Change: {{ order.Change }} BDT

      </div>
    </div>


  </div>
</div>


<div class="row text-xl-left">
  <div class="col-xl-8 col-lg-8">

    <button
      [disabled]="isDisabled"
      (click)="deleteOrder()"
      class="btn btn-danger">Delete</button>

  </div>
</div>

