



<div class="row" *ngIf="foodItems.length === 0; else notEmpty">
  <div class="col-md-12">
    No item is available. Click "Add New Food" to populate.
  </div>
</div>

<ng-template #notEmpty>


  <mat-form-field>
      <input
        matInput
        (keyup)="applyFilter($event.target.value)"
        placeholder="Search...">
  </mat-form-field>

  <div class="mat-elevation-z8" style="box-shadow: none!important;">
    <table  mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="SerialNumber">
        <th
          style="font-size: 14px;  font-weight: 500; color: #000;"
          mat-header-cell *matHeaderCellDef mat-sort-header> SN </th>
        <td
          style="width: 5%"
          mat-cell *matCellDef="let row"> {{row.SerialNumber}} </td>
      </ng-container>


      <ng-container matColumnDef="Name">
        <th
          style="font-size: 14px; font-weight: 500; color: #000;"
          mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td style="width: 25%; word-break: break-word;" mat-cell *matCellDef = "let row"> {{row.Name}} </td>
      </ng-container>

      <ng-container matColumnDef="Price">
        <th
          style="font-size: 14px; font-weight: 500; color: #000;"
          mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td
          style="width: 15%"
          mat-cell *matCellDef="let row"> {{row.Price}} BDT </td>
      </ng-container>

      <ng-container matColumnDef="InventoryCost">
        <th
          style="font-size: 14px; font-weight: 500; color: #000;"
          mat-header-cell *matHeaderCellDef mat-sort-header> Inventory Cost </th>
        <td
          style="width: 15%"
          mat-cell *matCellDef="let row" > {{row.InventoryCost}} BDT </td>
      </ng-container>

      <ng-container matColumnDef="Profit">
        <th
          style="font-size: 14px; font-weight: 500; color: #000;"
          mat-header-cell *matHeaderCellDef mat-sort-header> Profit </th>
        <td
          style="width: 15%"
          mat-cell *matCellDef="let row" > {{row.Profit}} BDT</td>
      </ng-container>

      <ng-container matColumnDef="TotalSale">
        <th
          style="font-size: 14px; font-weight: 500; color: #000;"
          mat-header-cell *matHeaderCellDef mat-sort-header> Total Sale </th>
        <td
          style="width: 10%"
          mat-cell *matCellDef="let row" > {{row.TotalSale}}(s)</td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          style="cursor: pointer;"
          title="See details"
          routerLink="/admin/food-items/{{ row.Id }}">
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[100, 250, 500, 1000]" showFirstLastButtons></mat-paginator>
  </div>

</ng-template>
