.all-categories-button {
  width:100%;
  height:100%;
  font-family:"Arial Narrow";
  color: #d32039;
  background-color: #ffffdf;
  border: 1.2px solid #ae0000;
  border-radius: 5px;
  font-size:16px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 22px;
  font-weight: bold;
}


.all-categories-button:hover{
  background-color: #d32039;
  color: #ffffdf;
  font-family:"Arial Narrow";
  font-weight:bold;
  border: 1.2px solid #ffffdf;
  border-radius: 5px;
}

.all-categories-button:focus{
  outline:0;
}

.buttons{
  margin-top: 50px;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(161, 18, 18, 0.2);
  -moz-box-shadow: 0px 10px 25px 0px rgba(161, 18, 18, 0.2);
  box-shadow: 0px 10px 25px 0px rgba(161, 18, 18, 0.2);
  padding-bottom: 20px;
  border: 1px;
  border-radius: 10px;
}
.go-left{
  padding-left: 25px;
}

.test{
  color: #ae0000;
  font-family: "Franklin Gothic Demi";
  font-size: 23px;
}
