<div class="row">
  <div class="col-md-12 c-office">
    Corporate Office
  </div>
</div>

<div class="row">
  <div class="col-md-8 c-office-details">
    Level 4, Software Technology Park,<br>
    Janata Tower, Karwaan Bazar, Dhaka-1215
  </div>
  <div class="col-md-4">
    <button onclick="window.open('https://www.facebook.com/HeadBlocks/')" class="loginBtn loginBtn--facebook">
      Like us on Facebook
    </button>

    <button onclick="window.open('https://www.facebook.com/HeadBlocks/')" class="loginBtn loginBtn--google">
      Follow us on Google
    </button>
  </div>
</div>


<div class="row">
  <div class="col-md-12 map">
    <agm-map  [latitude]="lat" [longitude]="lng" [zoom]="zoom"  >
      <agm-marker  [latitude]="lat" [longitude]="lng">
      </agm-marker>
    </agm-map>
  </div>
</div>



