


<div class="row">

  <div class="col-xl-1 col-lg-2 col-md-2"
       style="font-size: 45px;
       font-family: 'Times New Roman', sans-serif;">
    <span
      style="outline: 0; cursor: pointer;"
      routerLink="/pos">hodoo</span>
  </div>

  <div class="col-xl-2 col-lg-2 col-md-3
  text-xl-right text-lg-right text-md-right top-padding">
    <a
      style="text-decoration: none; font-size: 19px; color: black;"
      routerLink="/pos"
      routerLinkActive="active">Point of Sale</a>
  </div>

  <div class="col-xl-2 col-lg-2 col-md-3 top-padding" >
    <a
      *ngIf="userDataStorageService.roleMatch(['Admin'])"
      style="text-decoration: none; font-size: 19px; color: black;"
      routerLink="/admin"
      routerLinkActive="active">Administration</a>
  </div>

  <div class="col-xl-7 col-lg-6 col-md-4
             text-xl-right text-lg-right text-md-right"
       style="padding-top: 20px; font-weight: bold;">
    <i style="font-weight: bold;" class="fa fa-user-o"></i> {{ userName }} &nbsp;

    <button class="btn btn-primary" (click)="logOut()">Logout</button>
  </div>



</div>

<hr style="margin: 0 0 0 0">

