<div class="row">

  <div class="col-xl-2"
       style="font-size: 45px;
       font-family: 'Times New Roman', sans-serif;">
    <span routerLink="/point-of-sale">hodoo</span>
  </div>

  <div class="col-xl-2" style="padding-top: 15px;">
    <a
      style="text-decoration: none; font-size: 19px;"
      routerLink="/point-of-sale"
      routerLinkActive="active">Point of Sale</a>
  </div>

  <div class="col-xl-2" style="padding-top: 15px;">
    <a
      style="text-decoration: none; font-size: 19px;"
      routerLink="/admin"
      routerLinkActive="active">Administration</a>
  </div>

  <div class="col-xl-5 text-xl-right" style="padding-top: 20px; font-weight: bold;">
    <i style="font-weight: bold;" class="fa fa-user-o"></i> {{ userName }}
  </div>

  <div class="col-xl-1" style="padding-top: 15px;">
    <button class="btn btn-primary" (click)="logOut()">Logout</button>
  </div>

</div>

<hr>
