


<div class="row">

  <div
    style="
    font-size: 45px;
    padding-left: 10px;
    padding-right: 40px;
    font-family: 'Times New Roman', serif;">
    <span
      style="outline: 0; cursor: pointer;"
      routerLink="/pos">hodoo</span>
  </div>


  <div
    style="
    border-left: 1px solid #c2c2c2;
    padding-left: 13px; padding-right: 5px; padding-top: 20px;">
    <a
      style="
          text-decoration: none;
          font-size: 17px; color: black;"
      routerLink="pos"
      routerLinkActive="active">Point of Sale</a>
  </div>


  <div
    *ngIf="userDataStorageService.roleMatch(['Admin'])"
    style="padding-left: 5px; padding-right: 5px; padding-top: 20px;">
    <a
      style="
          text-decoration: none;
          font-size: 17px; color: black;"
      routerLink="admin/inventories"
      routerLinkActive="active">Inventories</a>
  </div>

  <div
    *ngIf="userDataStorageService.roleMatch(['Admin'])"
    style="padding-left: 5px;padding-right: 5px; padding-top: 20px;">
    <a
      style="
          text-decoration: none;
          font-size: 17px; color: black;"
      routerLink="admin/food-items"
      routerLinkActive="active">Food Items</a>
  </div>

  <div
    *ngIf="userDataStorageService.roleMatch(['Admin'])"
    style="padding-left: 5px;padding-right: 5px; padding-top: 20px;">
    <a
      style="
          text-decoration: none;
          font-size: 17px; color: black;"
      routerLink="admin/orders"
      routerLinkActive="active">Orders</a>
  </div>

  <div
    *ngIf="userDataStorageService.roleMatch(['Admin'])"
    style="padding-left: 5px;padding-right: 5px; padding-top: 20px;">
    <a
      style="
          text-decoration: none;
          font-size: 17px; color: black;"
      routerLink="admin/cancelled-orders"
      routerLinkActive="active">Cancelled Orders</a>
  </div>

  <div
    *ngIf="userDataStorageService.roleMatch(['Admin'])"
    style="padding-left: 5px;padding-right: 5px; padding-top: 20px;">
    <a
      style="
          text-decoration: none;
          font-size: 17px; color: black;"
      routerLink="admin/tables"
      routerLinkActive="active">Tables</a>
  </div>

  <div
    *ngIf="userDataStorageService.roleMatch(['Admin'])"
    style="padding-left: 5px;padding-right: 5px; padding-top: 20px;">
    <a
      style="
          text-decoration: none;
          font-size: 17px; color: black;"
      routerLink="admin/user-accounts"
      routerLinkActive="active">User Accounts</a>
  </div>

  <div
    *ngIf="userDataStorageService.roleMatch(['Admin'])"
    style="
    padding-left: 5px;
    border-right: 1px solid #c2c2c2;
    padding-right: 13px;
    padding-top: 20px;">
    <a
      style="
          text-decoration: none;
          font-size: 17px; color: black;"
      routerLink="admin/settings"
      routerLinkActive="active">Settings</a>
  </div>

  <div style="padding-left: 10px; padding-right: 5px; padding-top: 20px;" >
    <i style="font-weight: bold;" class="fas fa-shield-alt"></i>
    <span style="font-weight: 500;"> {{ userName }} </span>&nbsp;

    <button class="btn btn-primary btn-sm" (click)="logOut()">Logout</button>
  </div>

</div>

<hr style="margin: 0 0 0 0">

