<!--
<div class="col-md-12 name">

  <form (ngSubmit) = "addNewTable(newTable)" #newTable = "ngForm">
    <div id="user-data">
      <div class="form-group">
        <label for="name">Table's Name:</label>
        <input
          type="text"
          id="name"
          class="form-control"
          ngModel
          name="name"
          required
        >
      </div>

      <div class="form-group">

        <div class="action">
          <button class="all-categories-button"
                  type="submit"
                  [disabled]="!newTable.valid || isDisabled">
            <i class="fa fa-bookmark" aria-hidden="true"></i> Save</button>
        </div>
        <div class="action">
          <button
            class="all-categories-button"
            routerLink="admin/tables"
            type="button">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i> Cancel</button>
        </div>

      </div>
    </div>
  </form>

</div>
-->


<div class="row" style="font-weight: 500;">
  <div class="col-xl-12">
    Add New Table
  </div>
</div>

<br>

<form (ngSubmit) = "addNewTable(newTable)" #newTable = "ngForm">

<div class="row">
  <div class="col-xl-6">
          <label for="name">Table's Name</label>
          <input
            type="text"
            id="name"
            class="form-control"
            ngModel
            name="name"
            #name="ngModel"
            required>
    <p
      style="color: red; margin-bottom: 0;"
      *ngIf="name.invalid && (name.dirty || name.touched)">
      Table name is required!
    </p>

  </div>
</div>

  <div class="row">
    <div class="col-xl-6">
      <hr>
    </div>
  </div>

  <div class="row">
    <div class="col-xl-6 text-xl-right">
      <button
        [disabled]="newTable.invalid || isDisabled"
        type="submit"
        class="btn btn-success">Save</button>
      &nbsp;
      <button
        type="button"
        routerLink="/admin/tables"
        class="btn btn-danger">Discard</button>
    </div>
  </div>


</form>
