<div class="row" style="font-weight: 500;">
  <div class="col-xl-12">
    Change password of {{ userAccount.UserName }}
  </div>
</div>

<br>

<form (ngSubmit) = "changePasswordByAdmin(changePasswordByAdminForm)"
      #changePasswordByAdminForm= "ngForm">


  <div class="row form-group">
    <div class="col-xl-3">

      <label for="newPassword">New Password*</label>
      <input
        type="password"
        id="newPassword"
        class="form-control"
        name="newPassword"
        ngModel
        #newPassword="ngModel"
        required>

      <p
        style="color: red; margin-bottom: 0;"
        *ngIf="newPassword.invalid && (newPassword.dirty || newPassword.touched)">
        This field is required!
      </p>

    </div>


  </div>


  <div class="row form-group">
    <div class="col-xl-3">

      <label for="confirmNewPassword">Confirm New Password*</label>
      <input
        type="password"
        id="confirmNewPassword"
        class="form-control"
        name="confirmNewPassword"
        ngModel
        #confirmNewPassword="ngModel"
        required>

      <p
        style="color: red; margin-bottom: 0;"
        *ngIf="confirmNewPassword.invalid && (confirmNewPassword.dirty || confirmNewPassword.touched)">
        This field is required too!
      </p>

    </div>


  </div>

  <div class="row">
    <div class="col-xl-6">
      <hr>
    </div>
  </div>


  <div class="row">
    <div class="col-xl-6 text-xl-right">
      <button
        [disabled]="changePasswordByAdminForm.invalid || isDisabled"
        type="submit"
        class="btn btn-success">Change Password</button>
      &nbsp;
      <button
        type="button"
        routerLink="/admin/user-accounts"
        class="btn btn-danger">Discard</button>
    </div>
  </div>


</form>
