

<!--<div class="row">
  <form (ngSubmit) = "addNewFoodItem(newFoodItem)" #newFoodItem = "ngForm">
  <div class="col-md-offset-1 col-md-9 order-detail">
    <div class="row buttons">
      <div class="col-md-2 back">
        <button class="back-button-cancel"
                type="reset"
                (click)="cancel()"><i class="fa fa-times-circle-o" aria-hidden="true"></i>
          Cancel</button>
      </div>
      <div class="col-md-offset-8 col-md-2 delete">
        <button class="back-button"
                [disabled]="!newFoodItem.valid || ingredients.length === 0 || isDisabled"
                type="submit"
                title="Save this item"
                ><i class="fa fa-bookmark" aria-hidden="true"></i>
          Save</button>
      </div>
    </div>


    <div class="row header">
      <div class="col-md-2">
        <div class="row">
          <div class="col-md-12 image">

          </div>
        </div>
      </div>
      <div class="col-md-10">
        <div class="row">
        </div>
        <div class="row">
          <div class="col-md-8 item-name">
            <div class="form-group">
              <label>Item's Name</label>
              <input
                type="text"
                id="itemName"
                class="form-control"
                ngModel
                name="itemName"
                required
              >
            </div>
          </div>
          <div class="col-md-4 item-name">
            <div class="form-group">
              <label>Item's Serial Number</label>
              <input
                type="text"
                id="serialNumber"
                class="form-control"
                ngModel
                name="serialNumber"
                required
              >
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-4 selling-price">
            <div class="form-group">
              <label>Selling Price</label>
              <div class="col-md-10 extra">
                <input
                  type="number"
                  min="1"
                  class="form-control"
                  [(ngModel)] = "sellingPrice"
                  name="salePrice"
                  required
                >
              </div>
             <div class="col-md-2" style=" color: #6a0d0e">
               BDT
             </div>
            </div>
          </div>
          <div class="col-md-6 making-price">
           Making Cost: {{ inventoryCost }} BDT
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 winning-price" *ngIf="sellingPrice-inventoryCost >= 0;
          else loss">
          Profit: {{ sellingPrice-inventoryCost }} BDT
          </div>
          <ng-template  #loss>
          <div class="col-md-3 loss">
            Loss: {{ inventoryCost-sellingPrice }} BDT
          </div>
          </ng-template>
        </div>
      </div>
    </div>
    <div class="row general">
      <div class="col-md-12">
         Add Ingredients
      </div>
    </div>

    <div class="row" *ngIf="checkIfEmpty === 0; else checkIfInventoryIsEmpty">
      <div class="col-md-12 warning2">
        Your inventory is empty. Add items in your inventory first
      </div>
    </div>
    <ng-template #notEmpty>
    <div class="row">
      <form (ngSubmit) = "addIngredients(newIngredients)" #newIngredients = "ngForm">
      <div class="col-md-6">
        <div class="form-group">
          <select
            id="inventoryId"
            class="form-control"
            ngModel
            required
            name="inventoryId">
            <option value="" selected disabled hidden>Choose ingredients from here</option>
            <option  *ngFor="let inventory of inventories" [value] ="inventory.Id"  >
              {{ inventory.Name }} </option>
          </select>
        </div>
      </div>
      <div class="col-md-6">
        <div class="form-group">
          <input
            type="number"
            min="1"
            id="quantity"
            class="form-control"
            ngModel
            name="quantity"
            required
            placeholder="Enter quantity here (Do not enter units!)"
          >
        </div>
      </div>
        <div class="row">
          <div class="col-md-offset-4 col-md-4">
            <button
              [disabled]="!newIngredients.valid"
              class="save-ingredient"
              type="submit">Add to this item's list</button>
          </div>
        </div>
      </form>
    </div>
    </ng-template>
    <div class="row units" *ngIf="checkIfEmpty !== 0">
      <div class="col-md-3">
        Product's Name
      </div>
      <div class="col-md-2 other">
        Quantity
      </div>
      <div class="col-md-2 other">
        Unit
      </div>
      <div class="col-md-2 other">
        Unit Price
      </div>
      <div class="col-md-2 other">
        Sub Total
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 warning" *ngIf="ingredients.length === 0; else ingredientsSelected">
        You have to select at least one ingredient to create a new item!
      </div>
    </div>
    <ng-template #ingredientsSelected>
    <div  class="scrollable-div" >
      <div class="row table-bordered units-details"
           *ngFor="let products of ingredients, let i = index">
        <div class="col-md-3 prod-name" >
          {{ i+1 }}. {{ products.Name }}
        </div>
        <div class="col-md-2 other">
          {{ products.Quantity }}
        </div>
        <div class="col-md-2 other">
          {{ products.Unit}}
        </div>
        <div class="col-md-2 other">
          {{ products.InventoryPrice }}
        </div>
        <div class="col-md-2 other">
          {{ products.SubTotal }} BDT
        </div>

        <div class="col-md-1 del-ing">
          <button title="Delete this ingredient"
            class="all-categories-button"
            (click)="deleteIngredient(products,i)">
            <i class="fa fa-times-circle-o" aria-hidden="true"></i></button>
        </div>
      </div>
    </div>
    </ng-template>
  </div>
  </form>
</div>-->




<div class="row" style="font-weight: 500;">
  <div class="col-xl-12">
    Add New Food Item
  </div>
</div>

<br>


<div class="row form-group">
  <div class="col-xl-6">

    <label>Food Item's Name</label>
    <input
      type="text"
      id="itemName"
      class="form-control"
      ngModel
      name="itemName"
      required>

  </div>
</div>


<div class="row form-group">
  <div class="col-xl-3">

    <label>Selling Price</label>
      <input
        type="number"
        min="1"
        class="form-control"
        [(ngModel)] = "sellingPrice"
        name="sellingPrice"
        required>

  </div>

  <div class="col-xl-3">
    <label>Serial Number</label>
    <input
      type="text"
      id="serialNumber"
      class="form-control"
      ngModel
      name="serialNumber"
      required>

  </div>
</div>

<div class="row">
  <div class="col-xl-3" style="font-weight: 500;">
    Inventory Cost: {{ inventoryCost.toFixed(3) }} BDT
  </div>

    <div class="col-md-3"
         style="font-weight: 500; color: #008000"
         *ngIf="sellingPrice-inventoryCost >= 0; else loss">
       Profit {{ (sellingPrice-inventoryCost).toFixed(3) }} BDT
    </div>

    <ng-template #loss>
      <div class="col-md-3" style="color: #e30000; font-weight: 500;">
        Loss {{ (inventoryCost-sellingPrice).toFixed(3) }} BDT
      </div>
    </ng-template>

</div>

<div class="row">
  <div class="col-xl-6">
    <hr>
  </div>
</div>

<div class="row"
     style="font-weight: 500;"
     *ngIf="inventories.length === 0; else checkIfInventoryIsEmpty">
  <div class="col-xl-6">
    Your inventory is empty! Add items in your inventory first.
  </div>
</div>

<br>


<ng-template #checkIfInventoryIsEmpty>

  <div class="row" style="font-weight: 500;">
    <div class="col-xl-6">
      Build Your Recipe From Below
    </div>
  </div>

  <form (ngSubmit) = "addIngredients(addNewIngredients)" #addNewIngredients = "ngForm">

  <div class="row form-group">
      <div class="col-xl-4">

          <select
            style="cursor: pointer;"
            id="inventoryId"
            class="form-control"
            ngModel
            required
            name="inventoryId">
            <option value="" selected disabled hidden>Select Ingredients</option>
            <option
              style="cursor: pointer;"
              *ngFor="let inventory of inventories"
              [value]="inventory.Id">
              {{ inventory.Name }}
            </option>
          </select>

      </div>

      <div class="col-xl-2">
          <input
            type="number"
            min="1"
            id="quantity"
            class="form-control"
            ngModel
            name="quantity"
            required
            placeholder="Quantity">
      </div>
  </div>

    <div class="row text-xl-right">
      <div class="col-xl-6">
        <button
          [disabled]="addNewIngredients.invalid"
          type="submit"
          (click)="addOrRemoveCheck('Add')"
          class="btn btn-success">
          Add</button> &nbsp;

        <button
          [disabled]="addNewIngredients.invalid"
          type="submit"
          (click)="addOrRemoveCheck('Remove')"
          class="btn btn-danger">Remove</button>
      </div>
    </div>

    <div *ngIf="ingredients.length !== 0">

      <div class="row" style="font-weight: 500;">
        <div class="col-xl-6">
          Ingredients List
        </div>
      </div>
      <div class="row">
        <div class="col-xl-10">



          <table border=1 cellpadding=10 width="100%">
            <tr style="font-weight: 500;">
              <td>Product's Name</td>
              <td>Product's Quantity</td>
              <td>Per Unit Price</td>
              <td>Sub Total</td>
            </tr>

            <tr
              *ngFor="let ingredient of ingredients; let i = index">
              <td>
                {{ getIngredientInfo(ingredient.InventoryId, 'Name') }}
              </td>
              <td>
                {{ ingredient.Quantity }}
                {{ getIngredientInfo(ingredient.InventoryId, 'Unit') }}
              </td>
              <td>
                {{ getIngredientInfo(ingredient.InventoryId, 'Price') }}
              </td>
              <td>
                <div class="row">
                  <div class="col-xl-6">
                    {{ ingredient.SubTotal.toFixed(3) }}
                  </div>
                  <div class="col-xl-6 text-xl-right">
                    <i
                      style="cursor: pointer;"
                      title="Remove this ingredient"
                      (click)="deleteIngredient(i)"
                      class="fas fa-times"></i>
                  </div>
                </div>


              </td>


            </tr>
          </table>


        </div>
      </div>

    </div>


  </form>
</ng-template>

