

<div class="row">

  <div class="col-xl-2">

    <div class="row"
         style="
         padding-top: 5px;
         padding-bottom: 5px;">
      <div class="col-xl-12">
        <a
          style="
          text-decoration: none;
          font-size: 18px; color: black;"
          routerLink="inventories"
          routerLinkActive="active">Inventories</a>
      </div>
    </div>

    <div class="row"
         style="
         padding-top: 5px;
         padding-bottom: 5px;">
      <div class="col-xl-12">
        <a
          style="
          text-decoration: none;
          font-size: 18px; color: black;"
          routerLink="food-items"
          routerLinkActive="active">Food Items</a>
      </div>
    </div>

    <div class="row"
         style="
         padding-top: 5px;
         padding-bottom: 5px;">
      <div class="col-xl-12">
        <a
          style="
          text-decoration: none;
          font-size: 18px; color: black;"
          routerLink="orders"
          routerLinkActive="active">Orders</a>
      </div>
    </div>

    <div class="row"
         style="
         padding-top: 5px;
         padding-bottom: 5px;">
      <div class="col-xl-12">
        <a
          style="
          text-decoration: none;
          font-size: 18px; color: black;"
          routerLink="tables"
          routerLinkActive="active">Tables</a>
      </div>
    </div>

    <div class="row"
         style="
         padding-top: 5px;
         padding-bottom: 5px;">
      <div class="col-xl-12">
        <a
          style="
          text-decoration: none;
          font-size: 18px; color: black;"
          routerLink="users-accounts"
          routerLinkActive="active">Users Accounts</a>
      </div>
    </div>


  </div>
  <div class="col-xl-10">
    <router-outlet></router-outlet>
  </div>
</div>
<br><br>



