<!--<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div routerLinkActive="active" class="navbar-header">
      <a routerLink="/home-page"  class="navbar-brand" >Le Restrou</a>
    </div>

    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        <li routerLinkActive="active"><a  [routerLink]="['/our-offers']" >Our Offers</a> </li>
        <li routerLinkActive="active"><a  routerLink="/food-cart" >Food Cart</a> </li>
      </ul>
    </div>
  </div>
</nav>-->
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 header">
      <div  class="col-md-3 blocks-diner" routerLink="/home-page" style="cursor: pointer;">
        Block's Diner
      </div>
      <div class="col-md-3 our-offers">
        <a routerLink="/our-offers" class="our-offers-link">Our Offers</a>
      </div>
      <div class="col-md-offset-4 col-md-2">
        <div class="col-md-6 login">
          <a routerLink="/login" class="login-link">Login</a>
        </div>
        <div class="col-md-6 register">
          <a routerLink="/register" class="register-link">Register</a>
        </div>
      </div>
    </div>
  </div>
</div>
