
<div class="container-fluid">
  <div class="row">
    <div class="col-md-12 header">
      <div  class="col-md-2 blocks-inn" routerLink="/our-offers/regulars" style="cursor: pointer;">
        hodoo
      </div>
      <div class="col-md-7">
        <div class="col-md-2 home">
          <a routerLink="/our-offers/regulars" routerLinkActive="active-link" class="our-offers-link">Point of Sale</a>
        </div>
      <!--  <div class="col-md-1 our-offers">
          <a routerLink="/chef" routerLinkActive="active-link" class="our-offers-link">Chef</a>
        </div>-->
        <div class="col-md-2 admin"  >
           <a routerLink="/admin/food-item" routerLinkActive="active-link" class="register-link" >Dashboard</a>
        </div>
       <!-- <div class="col-md-2 contact-us">
          <a routerLink="/contact-us" routerLinkActive="active-link" class="our-offers-link">Contact Us</a>
        </div>
        <div class="col-md-1 login">
          <a routerLink="/login" routerLinkActive="active-link" class="login-link">Login</a>
        </div>
        <div class="col-md-1 register">
          <a routerLink="/register" routerLinkActive="active-link" class="register-link" >Register</a>
        </div>-->
      </div>
      <div class="col-md-3 whole-cart">

        <div class=" col-md-3 cart-icon">
          <i class="fa fa-shopping-cart fa-2x cart" aria-hidden="true"></i>
        </div>
        <div  class="col-md-2 cart-amount">
          {{ quantity }}(s)
        </div>
          <div class="col-md-7 cart-price">
            {{ totalPrice }} BDT
          </div>

      </div>

    </div>
  </div>
</div>


