.header {
  background-color: ghostwhite;
  position: fixed;
  z-index: 999;
  color: #b00003;
  -webkit-box-shadow: 3px 10px 20px -1px rgba(148,138,133,0.64);
  -moz-box-shadow: 3px 10px 20px -1px rgba(148,138,133,0.64);
  box-shadow: 3px 10px 20px -1px rgba(148,138,133,0.64);
  }

@import url('https://fonts.googleapis.com/css?family=Acme|Aladin|Berkshire+Swash|Cabin+Sketch|Chewy|Fredoka+One|Kanit|Lobster|Londrina+Solid|Righteous|Rock+Salt');

/*font-family: 'Righteous', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Rock Salt', cursive;
font-family: 'Chewy', cursive;
font-family: 'Cabin Sketch', cursive;
font-family: 'Aladin', cursive;
font-family: 'Londrina Solid', cursive;
font-family: 'Lobster', cursive;
font-family: 'Acme', sans-serif;
font-family: 'Berkshire Swash', cursive;
font-family: 'Kanit', sans-serif;*/
.blocks-inn {
  font-family: 'Berkshire Swash', cursive;
  font-size:40px;
  padding-left: 38px;
}

.blocks-inn:focus {
  outline: 0;
}

.home {
  font-family: "Berlin Sans FB";
  font-size: 17px;
  padding-top: 15px;
}
.our-offers {
  font-family: "Berlin Sans FB";
  font-size: 17px;
  padding-top: 15px;
  padding-left: 22px;

}
.contact-us {
  font-family: "Berlin Sans FB";
  font-size: 17px;
  padding-top: 15px;
  padding-left: 22px;
  text-align: right;
}

.our-offers-link {
  color: #b00003;
}

.login{
  font-family:"Berlin Sans FB";
  font-size: 17px;
  padding-top: 15px;
  padding-right: 9px;
  padding-left: 0px;
  text-align: center;
}
.login-link {
  color: #b00003;
}

.register{
  font-family:"Berlin Sans FB";
  font-size: 17px;
  padding-top: 15px;
  padding-right: 0px;
  padding-left: 0px;
}
.register-link {
  color: #b00003;
}

.admin{
  font-family:"Berlin Sans FB";
  font-size: 17px;
  padding-top: 15px;

}

.home-page-link {
  color: #b00003;
}

.home-page-link:hover {
  text-decoration: none;
}

a {
  position: relative;
  color: #b00003;
  text-decoration: none;
}

a:hover {
  color: #b40000;
}

a:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #b40000;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.cart-icon{
  padding-top: 16px;
  padding-right:0px;
  padding-left: 27px;
}

.cart-amount{
  font-family: "Times New Roman";
  font-size:18px;
  padding-top: 10px;
  margin-left: -20px;
  color: #b40000;
  padding-left:0px;
  padding-right: 0px;
  font-weight: bold;
}

.cart-price{
  font-family: "Times New Roman";
  font-size:18px;
  padding-top: 10px;
  margin-left: 20px;
  color: #b40000;
  padding-right:0px;
  margin-left: 0px;
  font-weight: bold;
}

.cart {
  color: #b40000;
}

.whole-cart{
  padding-right: 0px;
}


  .active-link {
      display:inline-block;
      text-decoration:none;
    color: #ae0000;
    }

  .active-link:after {
      display:block;
      content:'';
      width:100%;
      height:2px;
      background: #ae0000;
      margin-top:-5px;
    }
