

<div class="row" style="font-weight: 500;">
  <div class="col-xl-12">
    Edit Information of {{ table.Name }}
  </div>
</div>

<br>


<form (ngSubmit) = "editTable(editedTable)" #editedTable= "ngForm">

  <div class="row form-group">
    <div class="col-xl-6">

      <label for="name">Table's Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        [ngModel]="table.Name"
        name="name"
        #name="ngModel"
        required>

      <p
        style="color: red; margin-bottom: 0;"
        *ngIf="name.invalid && (name.dirty || name.touched)">
        Table's name is required!
      </p>

    </div>
  </div>






  <div class="row">
    <div class="col-xl-6 text-xl-right">
      <button
        [disabled]="editedTable.invalid || isDisabled"
        type="submit"
        class="btn btn-success">Save</button>
      &nbsp;
      <button
        type="button"
        routerLink="/admin/tables/{{table.Id}}"
        class="btn btn-danger">Discard</button>
    </div>
  </div>


</form>

