
<div class="row">
  <div class="col-xl-12"
       style="
       font-family: 'Times New Roman', sans-serif;
       font-size: 100px;
       text-align: center;
       padding-top: 35px;">
    hodoo
  </div>
</div>


<form
  #passwordResetForm="ngForm"
  (ngSubmit)="getPasswordResetCode(passwordResetForm)">


<div class="row">
  <div class="offset-xl-4 col-xl-4">

        <label style="font-weight: 300;">Enter your user name</label>
        <input class="form-control"
               type="text"
               name="userName"
               ngModel
               required>
  </div>
</div>

  <br>

  <div class="row" style="text-align: center;">
        <div class="col-xl-12">
          <button
            class="btn btn-primary "
            type="submit"
            [disabled]="!passwordResetForm.valid || isDisabled"
          >Send Reset Code</button>
        </div>
      </div>
</form>

