@media (max-width: 992px) {
  .small-padding {
    padding-bottom: 7px;
    padding-top: 7px;
  }
}


//@media (min-width: 768px) {
//  .big-screen {
//    height: 235px;
//    width: 100%;
//  }
//}
//
//
//
//@media (max-width: 767px) {
//  .small-screen {
//    height: 190px;
//    width: 100%;
//  }
//}




@media screen {
  #receipt {
    display: none;
  }
}


@media print {
  #receipt {
    display : block;
  }
}
