@media (max-width: 992px) {
  .small-padding {
    padding-bottom: 7px;
    padding-top: 7px;
  }
}

@media (max-width: 1199px) {
  .table-padding {
    padding-bottom: 40px;
  }
}


@media screen {
  #receipt {
    display: none;
  }
}


@media print {
  #receipt {
    display : block;
  }
}
