


<div class="row" *ngIf="foodItems.length === 0; else notEmpty">
  <div class="col-xl-12" style="text-align: center; font-weight: 500;">

    Can't create order, no food item is available.

  </div>
</div>

<ng-template #notEmpty>

  <form #updateCartFormBySerialNumber = "ngForm">

    <div
      class="row text-md-center text-lg-center text-sm-center text-center" style="font-weight: 500; padding-bottom: 10px;">
      <div class="col-xl-12">

        Menu

      </div>
    </div>



  <div class="row"
       style="padding-bottom: 2px; padding-top: 2px;">

    <div class="col-xl-1 col-lg-1 small-padding" >
      <button
        type="button"
        routerLink="/pos"
        class="btn btn-info">Tables</button>
    </div>


    <div
      class="col-xl-2 col-lg-2 col-md-5 col-sm-6 col-6 small-padding">

      <input
        type="text"
        id="serialNumber"
        placeholder="Serial Number"
        class="form-control"
        ngModel
        name="serialNumber"
        required>

    </div>

    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-6 col-6 small-padding">

      <input
        type="number"
        id="quantity"
        placeholder="Quantity"
        class="form-control"
        ngModel
        name="quantity"
        required>

    </div>

    <div
      class="col-xl-2 col-lg-3 col-md-3 col-sm-6 col-12 text-md-left small-padding">

      <button
        (click)="updateCartFromSerialNumber(updateCartFormBySerialNumber, true)"
        [disabled]="updateCartFormBySerialNumber.invalid"
        type="submit"
        class="btn btn-success">Add</button> &nbsp;

      <button
        (click)="updateCartFromSerialNumber(updateCartFormBySerialNumber, false)"
        [disabled]="updateCartFormBySerialNumber.invalid"
        type="submit"
        class="btn btn-danger">Remove</button>

    </div>




    <div class="col-xl-5 col-lg-4 small-padding">

      <input
        type="text"
        [(ngModel)]="term"
        placeholder="Search..."
        id="searchFoodItem"
        class="form-control"
        name="searchFoodItem">

    </div>
  </div>

  </form>

  <br>

  <div class="row" style="word-break: break-word; font-weight: 500;">
    <div class="col-xl-12">

      Table Name: {{ table.Name }} &nbsp; &nbsp; &nbsp; Current State: {{ table.CurrentState }}

    </div>
  </div>

  <hr>

  <div class="row">

    <div class="col-xl-4">

      <div class="row">
        <div class="col-xl-12"
             style="font-weight: 500; font-size: 16px; text-align: center;">
          <i class="fa fa-shopping-cart"></i> Cart
        </div>
      </div>




      <div *ngIf="order !== undefined; else orderExists">

        <div class="row"
             *ngIf="order.Id !== null && order.Id !== -1"
             style="text-align: center;
             padding-top: 5px;
             padding-bottom: 5px;
             font-weight: 500;">
          <div class="col-xl-12">
            Order No. {{ order.Id }}
          </div>
        </div>

        <div class="row" *ngFor="let orderSession of order.OrderSessions; let i = index">
          <div class="col-xl-12">

            <div *ngIf="orderSession.OrderedItems.length !== 0
            || orderSession.CurrentState !== 'Cancelled'">

              <div class="row" style="text-align: left;
                 font-weight: 500;
                 padding-top: 30px;
                 padding-bottom: 2px;">
                <div class="col-xl-12">
                  Session: {{ i + 1 }}
                </div>
              </div>


              <div class="row"
                   *ngIf="orderSession.OrderedDateTime !== ''"
                   style="font-size: 13px; font-weight: 500; padding-bottom: 5px; padding-top: 5px;">
                <div class="col-xl-12">
                  Ordered at: {{ orderSession.OrderedDateTime }}
                </div>
              </div>

              <div class="row"
                   *ngIf="orderSession.ServedDateTime !== ''"
                   style="font-size: 13px; font-weight: 500; padding-bottom: 5px; padding-top: 5px;">
                <div class="col-xl-12">
                  Served at: {{ orderSession.ServedDateTime }}
                </div>

              </div>

              <hr>


              <div class="row" style="font-size: 13px; padding-top: 10px;">
                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="word-break: break-word">

                  SN & Name

                </div>

                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="word-break: break-word">

                  Price

                </div>

                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="word-break: break-word">

                  Qty

                </div>

                <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2"
                     style="word-break: break-word; padding-bottom: 10px;">

                  Total

                </div>
              </div>

              <div style="font-size: 13px; padding-top: 10px;"
                   *ngFor="let orderedItem of orderSession.OrderedItems; let j = index">

                <div *ngIf="orderedItem.CurrentState !== 'Cancelled'">
                  <div class="row">
                    <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="word-break: break-word">
                      {{ getFoodItemInformation('Name and Serial', orderedItem.FoodItemId) }}
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="word-break: break-word">
                      {{ getFoodItemInformation('Price', orderedItem.FoodItemId) }}
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="word-break: break-word">
                      {{ orderedItem.FoodItemQuantity }}
                    </div>

                    <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="word-break: break-word">
                      {{ orderedItem.TotalPrice }}
                    </div>
                  </div>

                  <div class="row" *ngIf="orderSession.CurrentState === 'Not Ordered'">
                    <div class="col-xl-12" style="text-align: right;">
                      <i
                        title="Remove from list"
                        style="cursor: pointer"
                        (click)="removeFromCart(j, orderSession)"
                        class="fa fa-times-circle-o"
                        aria-hidden="true"></i>

                    </div>
                  </div>



                </div>

                <hr>

              </div>

              <div class="row text-xl-right">
                <div class="col-xl-12">

                  Total {{ getSessionTotalPrice(orderSession) }} BDT

                </div>
              </div>


              <div id = "receipt" style="
      box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
      padding:2mm;
      margin: 0 auto;
      width: 44mm;
      background: #FFF;">

                <div
                  *ngIf="setting.ShopName !== ''"
                  style="text-align: center; font-weight: 500; font-size: .8em;">

                  {{ setting.ShopName }}

                </div>

                <div
                  *ngIf="setting.ShopAddress !== ''"
                  style="text-align: center; font-size: .4em;">

                  {{ setting.ShopAddress }}

                </div>

                <div
                  *ngIf="setting.ShopPhone !== ''"
                  style="text-align: center; font-size: .4em;">

                  Phone: {{ setting.ShopPhone }}

                </div>


                <div
                  style="
                  text-align: center;
                  padding-top: .5mm;
                  padding-bottom: .5mm;
                  font-size: .3em;
                  margin-bottom: -.5em;">
                  *****************************
                </div>


                <div
                  style="text-align: center;
                  font-weight: 500;
                  padding-bottom: .5em;
                  font-size: .6em;">

                  Chef's Receipt

                </div>



                <table style="width: 100%; border-collapse: collapse;">


                  <tr style="font-size: .5em;">
                    <td>Order No. {{ order.Id }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>

                  <tr style="font-size: .5em;">
                    <td id="date-time"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>

                  <tr style="font-size: .6em;">
                    <td>Table No. {{ table.Name }} </td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>

                  <tr style="font-size: .5em;">
                    <td style="font-weight: 500;!important;">Sales Person. {{ order.SalesPersonName }}</td>
                    <td></td>
                    <td></td>
                    <td></td>
                  </tr>

                </table>

                <div style="padding-top: .5mm; padding-bottom: .5mm;"></div>

                <table id="ordered-items" style="width: 100%; border-collapse: collapse; font-size: .5em;">

                </table>


                <div style="
                font-size: .3em;
                text-align: center;
                padding-top: .5mm;">
                  *****************************
                </div>

                <table style="width: 100%; border-collapse: collapse; font-size: .5em;">

                  <tr>
                    <td>Total</td>
                    <td></td>
                    <td></td>
                    <td style="text-align: right;">{{ order.TotalPrice.toFixed(2) }}</td>
                  </tr>

                </table>


                <div
                  style="
                  text-align: center;
                  font-size: .3em;
                  padding-top: .5mm;">
                  *****************************
                </div>

              </div>

              <div class="row" style="padding-top: 20px; padding-bottom: 20px;">
                <div class="col-xl-12">

                  <button
                    *ngIf="orderSession.CurrentState !== 'Not Ordered'"
                    (click)="cancelAllOrderedItem(orderSession)"
                    class="btn btn-danger">Cancel Order</button> &nbsp;

                  <button
                    (click)="placeOrder()"
                    *ngIf="orderSession.CurrentState === 'Not Ordered'"
                    class="btn btn-warning">Order</button> &nbsp;

                  <button
                    (click)="serveOrder(orderSession)"
                    *ngIf="orderSession.CurrentState === 'Not Ordered' || orderSession.CurrentState === 'Ordered'"
                    [disabled]="orderSession.CurrentState === 'Not Ordered'"
                    class="btn btn-info">Serve</button> &nbsp;


                  <button
                    *ngIf="orderSession.CurrentState === 'Served'"
                    disabled
                    class="btn btn-info">Served</button> &nbsp;

                  <button
                    (click)="printChefReceipt(orderSession)"
                    [disabled]="!setting.PrintChefsOrderReceipt
                    || orderSession.CurrentState === 'Not Ordered'"
                    class="btn btn-success">Print</button> &nbsp;

                  <button
                    *ngIf="orderSession.CurrentState === 'Not Ordered'"
                    (click)="clearOrderSession(i)"
                    class="btn btn-danger">Clear</button>

                </div>
              </div>

            </div>


          </div>
        </div>

        <div class="row text-xl-right"
             style="font-weight: 500; padding-top: 10px;padding-bottom: 10px;">
          <div class="col-xl-12">

            Gross Total {{ order.TotalPrice }} BDT

          </div>
        </div>

        <div class="row text-xl-right" style="padding-top: 10px;padding-bottom: 10px;">
          <div class="col-xl-12">

            <button
              [disabled]="order.CurrentState === 'Not Ordered'"
              routerLink="/pos/{{ table.Id }}/payment"
              class="btn btn-success">Payment</button>

          </div>
        </div>

        <hr>

      </div>

      <ng-template #orderExists>


        <div style="padding-top: 10px;"></div>

        <div class="row table-padding" style="text-align: center;">
          <div class="col-xl-12">

            This table currently has no order

          </div>
        </div>

      </ng-template>

  </div>



    <div class="col-xl-8">

      <div class="row">

        <div
          class="col-xl-3 col-md-3 col-lg-3 col-sm-4 col-6"
          *ngFor="let foodItem of foodItems | filter: term ;let i = index">

          <div class="row">
            <div class="col-xl-12"
                 style="
                 font-weight: 500;
                 word-break: break-word;">

              {{ foodItem.SerialNumber }}. {{ foodItem.Name }} - {{ foodItem.Price }} BDT

            </div>
          </div>

          <div class="row">
            <div class="col-xl-12">
              <img

                style="
                height: 200px; width: 100%;
              border: 2px solid white;
              border-radius: 5px;"
                [src]="foodItem.FoodItemImageName">
            </div>
          </div>

          <form #updateCartForm = "ngForm">

          <div class="row">
            <div class="col-xl-12">

              <button
                (click)="updateCart(foodItem, true, updateCartForm, undefined)"
                [disabled]="updateCartForm.invalid"
                type="submit"
                style="width: 100%;"
                class="btn btn-success">Add</button>

            </div>
          </div>

          <div class="row">
            <div class="col-xl-12">

              <input
                type="number"
                ngModel
                min="1"
                id="indirectQuantity"
                class="form-control"
                name="indirectQuantity"
                required>

            </div>
          </div>

          <div class="row">
            <div class="col-xl-12">

              <button
                (click)="updateCart(foodItem, false, updateCartForm, undefined)"
                [disabled]="updateCartForm.invalid"
                type="submit"
                style="width: 100%;"
                class="btn btn-danger">Remove</button>

            </div>
          </div>

          </form>


        </div>

      </div>

    </div>


  </div>
</ng-template>

<br>

