/*

.all-categories-button {
  width:100%;
  height:100%;
  font-family:"Arial Narrow";
  color: #d32039;
  background-color: #ffffdf;
  border: 1.2px solid #ae0000;
  border-radius: 5px;
  font-size: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  font-weight: bold;
}


.all-categories-button:hover{
  background-color: #d32039;
  color: #ffffdf;
  font-family:"Arial Narrow";
  font-weight:bold;
  border: 1.2px solid #ffffdf;
  border-radius: 5px;
}

.all-categories-button:focus{
  outline:0;
}

.name{
  color: #8e0017;
  font-family:"Times New Roman";
  text-align: left;
  font-size: 1vw;
  padding-top: 1vh;
  font-weight: bold;
}
.price{
  color: #8e0017;
  font-family:"Times New Roman";
  text-align: right;
  font-size: 1vw;
  padding-top: 1vh;
  font-weight: bold;
}

.image{
  border: 1px solid ghostwhite;
  border-radius: 10px;
  height: 36vh;
  width: 100%;
}




.food-body{
  position: fixed;
  z-index: 999;
  background-color: ghostwhite;
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: -2px;
}

.left{
  height: 70vh;
  box-sizing: border-box;
  overflow: auto;
  margin-top: 50px;
}

.fa-search {
  position: absolute;
  padding-top: 1.4vh;
  padding-left: .9vw;
  font-size: 1vw;
}

.box{
  width: 20vw;
  height: 4.5vh;
  background: #fcfcfc;
  border: .15vw solid #9c0000;
  border-radius: 9vw;
  text-indent: 2.1vw;
  color: #9c0000;
  font-size: .9vw;
  font-family: "Lato","Lucida Grande", "Helvetica", "Verdana", "Arial";
}

.box:focus{
  outline: 0;
}

::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.empty{
  font-family:"Times New Roman";
  color: #630606;
  font-size: 1.5vw;
  font-weight: bold;
  padding-top: 3vh;
  text-align: center;
}

input{
  height: 4.8vh;
  font-size: 1vw;
}

.input-box{
  padding-right: 0;
  padding-left: 0;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
*/
