<!--<div class="row">
  <div class="col md-5" *ngFor="let sumOfInv of summaryOfInventories">

    <div class="col-md-2"> {{ sumOfInv.ItemUsedName }} </div>
    <div class="col-md-2"> {{ sumOfInv.ItemTotal }} </div>
    <div class="col-md-2">{{ sumOfInv.ItemUsedToday }}</div>
    <div class="col-md-2">{{ sumOfInv.ItemRemaining }}</div>

  </div>
</div>-->
<div class="whole">
<div class="row">
  <div class="col-md-offset-4 col-md-4 sum-of-inv">
    Summary of Inventories
  </div>
</div>


  <div class="sum-of-inv-body">

<div class="row">
  <div class="col-md-10">
    <div class="col-md-3 name">
      Item's Name
    </div>
    <div class="col-md-3 price">
      Total Amount
    </div>
    <div class="col-md-3 price">
      Used Today
    </div>
    <div class="col-md-3 price">
      Remaining
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-10">
    <div class="row" *ngFor="let inventory of summaryOfInventories">
      <div class="col-md-12 f-name">
      <div class="col-md-3 ">
        {{ inventory.ItemUsedName }}
      </div>

      <div class="col-md-3" *ngIf="inventory.Unit == 1" >
        {{ inventory.ItemTotal }} Kilograms
      </div>
      <div class="col-md-3" *ngIf="inventory.Unit == 2">
        {{ inventory.ItemTotal}}  Litres
      </div>
      <div class="col-md-3" *ngIf="inventory.Unit == 3">
        {{ inventory.ItemTotal }} Pieces
      </div>
      <div class="col-md-3" *ngIf="inventory.Unit == 4">
        {{ inventory.ItemTotal }}  Bottles
      </div>

      <div class="col-md-3" *ngIf="inventory.Unit == 1" >
        {{ inventory.ItemUsedToday }} Kilograms
      </div>
      <div class="col-md-3" *ngIf="inventory.Unit == 2">
        {{ inventory.ItemUsedToday}}  Litres
      </div>
      <div class="col-md-3" *ngIf="inventory.Unit == 3">
        {{ inventory.ItemUsedToday}} Pieces
      </div>
      <div class="col-md-3" *ngIf="inventory.Unit == 4">
        {{ inventory.ItemUsedToday }}  Bottles
      </div>

      <div class="col-md-3" *ngIf="inventory.Unit == 1" >
        {{ inventory.ItemRemaining }} Kilograms
      </div>
      <div class="col-md-3" *ngIf="inventory.Unit == 2">
        {{ inventory.ItemRemaining }}  Litres
      </div>
      <div class="col-md-3" *ngIf="inventory.Unit == 3">
        {{ inventory.ItemRemaining }} Pieces
      </div>
      <div class="col-md-3" *ngIf="inventory.Unit == 4">
        {{ inventory.ItemRemaining }}  Bottles
      </div>
      </div>
    </div>
  </div>
</div>
</div>
</div>
