
<div class="row">
  <div class="col-md-12 hodoo">
    hodoo
  </div>
</div>



<div class="row">
  <div class="col-md-12 main">

    <form #newPassword="ngForm" (ngSubmit)="resetPassword(newPassword)">
      <div class="row">

        <div class="col-md-offset-4 col-md-4 reset-field">
          <label>Enter rest code</label>
          <input class="form-control"
                 type="text"
                 name="code"
                 #code
                 ngModel
                 required>
        </div>
      </div>
      <div class="row">

        <div class="col-md-offset-4 col-md-4 reset-field">
          <label>New password</label>
          <input class="form-control"
                 type="password"
                 name="password"
                 #password
                 ngModel
                 required>
        </div>
      </div>
      <div class="row">

        <div class="col-md-offset-4 col-md-4 reset-field">
          <label>Confirm new password</label>
          <input class="form-control"
                 type="password"
                 name="confirmPassword"
                 #confirmPassword
                 ngModel
                 required>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-4 col-md-4 button">
          <button
            class="btn btn-primary "
            type="submit"
            [disabled]="!newPassword.valid"
          >Reset Password</button>
        </div>
      </div>
    </form>

  </div>
</div>
