
<div class="row"
     style="
     font-family: 'Times New Roman', sans-serif;
     font-size: 100px;
     text-align: center;
     padding-top: 35px;">
  <div
    class="
    col-xl-12">
    hodoo
  </div>
</div>


<form
  #newPassword="ngForm"
  (ngSubmit)="resetPassword(newPassword)">

<div class="row form-group">
  <div class=
         "offset-xl-4 col-xl-4">
          <label style="font-weight: 300;">Enter reset code</label>
          <input class="form-control"
                 type="text"
                 name="passwordResetCode"
                 ngModel
                 required>
        </div>
</div>

      <div class="row form-group">
        <div
          class="
          offset-xl-4 col-xl-4
          ">
          <label style="font-weight: 300;">New password</label>
          <input class="form-control"
                 type="password"
                 name="newPassword"
                 ngModel
                 required>
        </div>
      </div>

      <div class="row form-group">
        <div
          class="offset-xl-4 col-xl-4
         ">
          <label style="font-weight: 300;">Confirm new password</label>
          <input class="form-control"
                 type="password"
                 name="confirmPassword"
                 ngModel
                 required>
        </div>
      </div>

      <br>

      <div class="row"
        style="text-align: center;">
        <div
          class="
          col-xl-12
          ">
          <button
            class="btn btn-primary "
            type="submit"
            [disabled]="!newPassword.valid || isDisabled"
          >Reset Password</button>
        </div>
      </div>



</form>
