<div class="sum-of-inv-body">
  <div class="row">
    <div class="col-md-4 search-bar">
      <span class="fa fa-search"></span>
      <input class="box" type="text" [(ngModel)]="term" placeholder="Search by Receipt Ref...">
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="col-md-3 receipt">
        Product Name
      </div>
      <div class="col-md-3 price">
        Products' Price
      </div>
      <div class="col-md-2 price">
        Unit
      </div>
      <div class="col-md-2 name">
          Available Quantity
      </div>
      <div class="col-md-2 price">
        Used Quantity
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 body">
      <div class="row" *ngFor="let inventory of inventories | filter:term; let i = index">
        <a title="View This Item's Details"
           style="cursor: pointer" (click)="viewDetails(inventory)">
          <div class="col-md-12 f-name table-bordered">
            <div class="col-md-3 column-receipt">
            {{ inventory.Name }}
            </div>
            <div class="col-md-3 column">
              {{ inventory.Price }} BDT
            </div>
            <div class="col-md-2 column">
              {{inventory.Unit }}
            </div>
            <div class="col-md-2 column">
               {{inventory.RemainingQuantity }}
            </div>
            <div class="col-md-2 column">
              {{inventory.UsedQuantity }}
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-12 Summary">
    Summary
  </div>
</div>
<div class="row">
  <div class="col-md-12 detail">
    Total Products: {{ totalProducts }} (s)
  </div>
</div>
