<!--
<div class="row" *ngIf="inventories" style="color: #feff26">
  <div class="col-md-12" *ngFor="let inventory of inventories; let i = index">
    <div class="col-md-2">{{ inventory.Name }} </div>
    <div class="col-md-1">{{ inventory.Price }}</div>
    <div class="col-md-1">{{ inventory.Unit }}</div>
    <div class="col-md-1">{{ inventory.Quantity }}</div>

    <div class="col-md-1">
        <button class="btn btn-primary" (click)="editItem(inventory)">Edit</button>
  </div>
    <div class="col-md-1">
      <button class="btn btn-danger" (click)="deleteItem(inventory,i)">Delete</button>
    </div>
  </div>
</div>
<div class="col-md-12">
  <button class="btn btn-primary" (click)="AddNewItem()">Add New Item</button>
</div>
<div class="col-md-12">
  <router-outlet></router-outlet>
</div>




-->


<!--
<div class="row" *ngIf="FoodItem" style="color: #feff26">
  <div class="col-md-2">
    Name
  </div>
  <div class="col-md-2" >
    Price
  </div>
  <div class="col-md-12" *ngFor="let foodItem of FoodItem; let i = index">
    <div class="col-md-2">{{ foodItem.Name }} </div>
    <div class="col-md-1">{{ foodItem.Price }}</div>
    <div *ngIf="foodItem.Ingredients">
    <div class="col-md-2" *ngFor="let ingredients of foodItem.Ingredients">
      <div class="col-md-6">
        Ingredient's Name:  {{ ingredients.Name }}
      </div>
      <div class="col-md-6">
        Ingredient's Quantity:  {{ ingredients.Quantity }}
      </div>
    </div>
  </div>
    <div class="col-md-1">
      <button class="btn btn-primary" (click)="editItem(foodItem)">Edit</button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-danger" (click)="deleteItem(foodItem,i)">Delete</button>
    </div>
  </div>
</div>
<div class="col-md-12">
  <button class="btn btn-primary" (click)="addNewItem()">Add New Item</button>
</div>
<div class="col-md-12">
  <router-outlet></router-outlet>
</div>


-->
<div class="row title">
  <div class="col-md-8">
    <div class="col-md-3 name">
      Name
    </div>
    <div class="col-md-2 price">
      Price
    </div>
    <div class="col-md-2 quantity">
      Quantity
    </div>
    <div class="col-md-offset-1 col-md-2 quantity">
      <span class="fa fa-search"></span>
      <input class="box" type="text" [(ngModel)]="term" placeholder="Search Products...">
    </div>
  </div>
</div>

<div class="row">
  <div class="col-md-8 body">

    <div class="row" *ngFor="let inventory of inventories | filter:term; let i = index">

      <div class="col-md-12 f-name">

        <div class="col-md-3 ">
          {{ inventory.Name }}
        </div>
        <div class="col-md-2 " >
          {{ inventory.Price }} BDT
        </div>
        <div class="col-md-3" *ngIf="inventory.Unit == 1" >
          {{ inventory.Quantity }} Kilograms
        </div>
        <div class="col-md-3" *ngIf="inventory.Unit == 2">
          {{ inventory.Quantity }}  Litres
        </div>
        <div class="col-md-3" *ngIf="inventory.Unit == 3">
          {{ inventory.Quantity }} Pieces
        </div>
        <div class="col-md-3" *ngIf="inventory.Unit == 4">
          {{ inventory.Quantity }}  Bottles
        </div>
        <div class="col-md-4 edit-delete">

          <div class="col-md-6 ">
            <button class="all-categories-button" (click)="editItem(inventory)">Edit</button>
          </div>
          <div class="col-md-6 ">
            <button class="all-categories-button" (click)="deleteItem(inventory,i)">Delete</button>
          </div>

        </div>



      </div>


    </div>


  </div>
  <div class="col-md-4">
    <div class="row">
      <div class="col-md-offset-3 col-md-6">
        <button class="all-categories-button" (click)="AddNewItem()">Add New Item</button>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <router-outlet></router-outlet>
      </div>
    </div>

  </div>
</div>


