@import url('https://fonts.googleapis.com/css?family=Acme|Aladin|Berkshire+Swash|Cabin+Sketch|Chewy|Fredoka+One|Kanit|Lobster|Londrina+Solid|Righteous|Rock+Salt');


.hodoo {
  font-family: 'Berkshire Swash', "Times New Roman", "Arial Narrow";
  font-size: 7vw;
  text-align: center;
  color: #7e0000;
  padding-top: 5vh;
}

.hodoo:focus {
  outline: 0;
}

.all-categories-button {
  width:80%;
  height:100%;
  font-family:"Arial Narrow";
  color: #941628;
  background-color: #ffffdf;
  border: 1.2px solid #941628;
  border-radius: 5px;
  font-size:13px;
  padding-top: 2px;
  padding-bottom: 2px;
  text-align: center;
}


.all-categories-button:hover{
  background-color: #941628;
  color: #ffffdf;
  font-family:"Arial Narrow";
  border: 1.2px solid #ffffdf;
  border-radius: 5px;
}

.all-categories-button:focus{
  outline:0;
}
.header{
  text-align: center;
  font-size: 2.4vw;
  font-family: "Times New Roman";
  padding-top: 2vh;
  padding-bottom: 2vh;
  color: #680000;
}

label{
  font-size: 16px;
  font-family: "Arial Narrow";
  color: #6b0000;
  font-weight:normal;
}

.btn-primary{
  background-color: #9c0000;
  color: white;
}
.btn-primary:hover{
  background-color: #7f0000;
  color: white;
}

.btn-primary:focus{
  outline:0;
}

.button{
  text-align: center;
}

input{
  font-size:14px;
}

a{
  color: #950000;
  font-size: 14px;
  font-family: "Arial Narrow";
  text-decoration: none;
  font-weight: bold;
}

a:hover{
  color: #6b0000;
}

.forgot-password{
  text-align: center;
  padding-bottom: 20px;
}

