
<div class="row">
  <div class="col-md-12 hodoo">
    hodoo
  </div>
</div>

<div class="row">
  <div class="col-md-12 header">
    User Login
  </div>
</div>

<div class="row">
  <div class="col-md-offset-4 col-md-4">
    <form #userLoginForm="ngForm" (ngSubmit)="OnSubmit(UserName.value,Password.value)">
      <div class="row">
        <div class="col-md-12 form-group">
          <div class="col-md-12">
            <label
            >User Name</label>
          </div>
          <div class="col-md-12">
            <input class="validate form-control"
                   type="text"
                   name="UserName"
                   #UserName
                   ngModel
                   required>
          </div>
        </div>
      </div>

        <div class="row">
        <div class="col-md-12 form-group">
          <div class="col-md-12">
            <label
              [attr.data-error]="Password.errors!=null?(Password.errors.required?
            'Required field!':'Minimum 3 characters needed'):''">Password</label>
          </div>
          <div class="col-md-12">
            <input
              class="validate form-control"
              type="password"
              name="Password"
              #Password
              ngModel
              required
              minlength="3">
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 forgot-password">
          <a routerLink="/reset-password">Forgot your password?</a>
        </div>
      </div>

      <div class="row">
        <div class="col-md-12 button">
          <button [disabled]="!userLoginForm.valid"
                  class="btn btn-primary"
                  type="submit">
            Login</button>

        </div>
      </div>
    </form>
  </div>
</div>
