
<collapsible-list [type]="'expandable'">

  <collapsible-list-item>

    <collapsible-header class="waves-effect">
      Item #1
    </collapsible-header>

    <collapsible-body [expanded]="false">
      <p>Item #1 Body</p>
      login works!
    </collapsible-body>

  </collapsible-list-item>


  <collapsible-list-item>
    <collapsible-header class="waves-effect">
      Item #2
    </collapsible-header>
    <collapsible-body [expanded]="true">
      <p>Item #2 Body</p>
    </collapsible-body>
  </collapsible-list-item>

</collapsible-list>

<!--
<div class="row">
  <div class="col-md-4">
    <collapsible-list [type]="'expandable'">
      <collapsible-list-item>
        <collapsible-header  style="background-color: #feff26;">
          <div class="row">
            <div class="col-md-6">
              Test
            </div>
          </div>
        </collapsible-header>
      </collapsible-list-item>
    </collapsible-list>
  </div>
</div>
-->



