<div class="col-md-12 name">
  <form (ngSubmit) = "onAddNewItem(newItem)" #newItem = "ngForm">
    <div id="user-data">
      <div class="form-group">
        <label for="name">Item's Name:</label>
        <input
          type="text"
          id="name"
          class="form-control"
          ngModel
          name="name"
          required
        >
       </div>

      <div class="form-group">
        <label for="price">Price:</label>
        <input
          type="number"
          min="1"
          id="price"
          class="form-control"
          ngModel
          name="price"
          required
        >
      </div>

      <div class="form-group">

        <label for="quantity">Quantity:</label>
        <input
          type="number"
          min="1"
          id="quantity"
          class="form-control"
          ngModel
          name="quantity"
          required
        >
        <div class="form-group">
          <label for="unit">Select an Unit</label>
          <select
            id="unit"
            class="form-control"
            [ngModel]="defaultUnit"
            required
            name="unit">
            <option value="Kilogram">Kilogram</option>
            <option value="Litre">Litre</option>
            <option value="Piece">Piece</option>
            <option value="Bottle">Bottle</option>
          </select>
        </div>

        <div class="action">
          <button class="all-categories-button"
                  type="submit"
          [disabled]="!newItem.valid">Save</button>
        </div>
        <div class="action">
          <button class="all-categories-button" type="button" (click)="onCancel()">Cancel</button>
        </div>
      </div>
    </div>
  </form>
</div>
