<!--<div class="row">
  <div class="col-md-12 home-page">
    This is a simple restaurant management app <br> where you can see the
    food items<br> and place your order!
  </div>
</div>-->
<div class="row">
  <div class="col-md-12">
    <div class="col-md-10 slideshow" style="width: 800px; height: 400px">
      <carousel [sources]="imageSources" [config]="config"></carousel>
      <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    </div>
    <div class="col-md-2">
      <div class="row">
        <div class="col-md-12 our-story">
          Our Story
        </div>
        <div class="col-md-12 our-story-desc">
          Block's Diner, until 1991 known as Block's Inn and Corporation is an Bangladeshi fast food restaurant chain that specializes in fried chicken.
          Headquartered in Karwaan Bazar, Dhaka, it is the world's second-largest restaurant chain (as measured by sales) after McDonald's, with almost
          20,000 locations globally in 123 countries and territories as of December 2015.
      </div>
    </div>
  </div>
</div>
