.home-page{
  font-size: 40px;
  font-family:"Berlin Sans FB";
}

.slideshow {
  margin-top:20px;
}

.our-story {
  color: #feff26;
  font-size:28px;
  font-family: "Arial";
  margin-top: 20px;
  padding-left: 21px;
  margin-left: 120px;
}

.our-story-desc {
  font-family:"Times New Roman";
  font-size: 15px;
  color: white;
  margin-left: 117px;

}
