<div class="row">
  <div class="col-md-offset-1 col-md-9 order-detail">
    <div class="row buttons">
      <div class="col-md-2 back">
        <button class="back-button" (click)="goBack()"><i class="fa fa-arrow-circle-o-left" aria-hidden="true"></i>
          Back</button>
      </div>
      <div class="col-md-offset-6 col-md-2 edit">
        <button class="back-button" (click)="edit(inventory)"><i class="fa fa-pencil-square-o" aria-hidden="true"></i>
          Edit</button>
      </div>
      <div class="col-md-2 delete">
        <button class="back-button" (click)="deleteInventoryItem()"><i class="fa fa-trash" aria-hidden="true"></i>
          Delete</button>
      </div>
    </div>
    <div class="fixed-div">
    <div class="row">
      <div class="col-md-12 general">
        General Information
      </div>
    </div>
    <div class="row">
      <div class="col-md-6 name">
        Name: {{ inventory.Name }}
      </div>
      <div class="col-md-6 price">
        Price: {{ inventory.Price }} BDT
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 general">
        Additional Information
      </div>
    </div>
    <div class="row header">
      <div class="col-md-6">
      Available Quantity
      </div>
      <div class="col-md-6">
        Used Quantity
      </div>
    </div>
    <div class="row header table-bordered">
      <div class="col-md-6">
        {{ inventory.RemainingQuantity }} {{ inventory.Unit }} (s)
      </div>
      <div class="col-md-6">
        {{ inventory.UsedQuantity }} {{ inventory.Unit }} (s)
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-5 col-md-2 update">
        <button class="update-button" (click)="update(inventory)">
          <i class="fa fa-wrench" aria-hidden="true"></i> Update</button>
      </div>
    </div>

    <div class="row general">
      <div class="col-md-12">
        Update History
      </div>
    </div>
    <div class="row units ">
      <div class="col-md-4">
        Product's Quantity
      </div>
      <div class="col-md-4">
        Product's Unit
      </div>
      <div class="col-md-4">
        Update Date and Time
      </div>

    </div>


    <div class="scrollable-div" >
      <div class="row table-bordered units-details" *ngFor="let history of inventoryHistory">
        <div class="col-md-4">
          {{ history.UpdatedQuantity }}
        </div>
        <div class="col-md-4">
          {{ inventory.Unit }}
        </div>
        <div class="col-md-4">
          {{ history.UpdateTime }}
        </div>
      </div>
    </div>

    <popup class="pop-up" (confirmClick)="confirmEvent()" (cancelClick)="cancelEvent()">
      You'll lose any data associated with the current item!
    </popup>
    </div>
  </div>
</div>


