<div class="row">
  <div class="col-md-12 panel panel-primary">
    <div class="row">
      <div class="col-md-12 panel-heading ">
        <div class="col-md-12 SetMenuName panel-title " >
{{ menu.Name}}
          <hr>
        </div>
      </div>

      <div *ngFor="let foodItems of menu.FoodItems" class="col-md-12 panel-body SetMenuDetails">

        <div class="col-md-12">
          {{ foodItems.Name }}
        </div>

       <!-- <div class="col-md-12">
          {{ foodItems.NameTwo }}
        </div>

        <div class="col-md-12">
          {{ foodItems.NameThree }}
        </div>-->
      </div>
      <div class="col-md-12 panel-footer">
        <div class="col-md-8 SetMenuPrice">
          Price: {{ menu.Price }}

        </div>

        <div class="col-md-4">
          <button type="button" class="btn btn-primary" (click)="OnAddToPurchasedFood(menu.Id)" style="cursor: pointer;">
            Add to food cart</button>
        </div>
      </div>
    </div>
  </div>

<!--
</div>
-->

<!--

  <div *ngFor="let foodItem of setMenu.FoodItems, let i = index">
    {{foodItem.Name}}
  </div>-->
