<div class="row">
  <div class="col-md-6">
    <div class="row" *ngFor="let setMenu of setMenus">
      <div class="col-md-12">
        {{ setMenu.Name }}
      </div>

        <div *ngFor="let foodItems of setMenu.FoodItems" class="col-md-12">

          <div class="col-md-12">
            {{ foodItems.FoodItem1 }}
          </div>

          <div class="col-md-12">
            {{ foodItems.FoodItem2 }}
          </div>

          <div class="col-md-12">
            {{ foodItems.FoodItem3 }}
          </div>

         </div>
      <div class="col-md-12">
       Price: {{ setMenu.Price }}
      </div>
    </div>
  </div>




<!--
<h4 class="list-group-item-heading">
  {{ setMenu.name }}
</h4>
{{ setMenu.id }}
<p class="list-group-item-text">
</p>
-->
