

<div class="row" *ngIf="tables.length === 0; else notEmpty">
  <div class="col-xl-12" style="text-align: center; font-weight: 500;">

    No table is available.

  </div>
</div>


<ng-template #notEmpty>

  <div class="row">
    <div class="col-xl-12" style="font-size: 17px; font-weight: 500; text-align: center;">
      Please select a table to create an order
    </div>
  </div>

  <br>

  <div class="row">
    <div class="col-xl-3 col-lg-4 col-md-6 col-sm-6 col-6"
         routerLink="/pos/{{ table.Id }}/menu"
         style="
       word-break: break-word;
       cursor: pointer;
       font-weight: 500;
       border: 2px solid white;
       border-radius: 4px;
       text-align: center;
       padding: 50px 50px 50px 50px;"

         [ngClass]="
       {'empty': table.CurrentState === 'Empty',
        'ordered': table.CurrentState === 'Ordered',
        'served': table.CurrentState === 'Served' }"

         *ngFor="let table of tables">

      <div class="row" *ngIf="table.CurrentState === 'Empty' ">
        <div class="col-xl-12">
          {{ table.Name }} ({{ table.CurrentState }})
        </div>
      </div>



      <!--<div *ngIf="table.CurrentState === 'Ordered' ">-->

        <!--<div class="row" >-->
          <!--<div class="col-xl-12">-->
            <!--{{ table.Name }} ({{ table.CurrentState }})-->
          <!--</div>-->
        <!--</div>-->

        <!--<div class="row" >-->
          <!--<div class="col-xl-12">-->
            <!---->
            <!--{{ getOrderedTime(table) }}-->
            <!---->
          <!--</div>-->
        <!--</div>-->
        <!---->
        <!---->
      <!--</div>-->
      <!---->
      <!--<div *ngIf="table.CurrentState === 'Served' ">-->

        <!--<div class="row" >-->
          <!--<div class="col-xl-12">-->
            <!--{{ table.Name }} ({{ table.CurrentState }})-->
          <!--</div>-->
        <!--</div>-->


        <!--<div class="row" >-->
          <!--<div class="col-xl-12">-->

            <!--{{ getOrderedTime(table) }}-->

          <!--</div>-->
        <!--</div>-->


        <!--<div class="row" >-->
          <!--<div class="col-xl-12">-->

            <!--{{ getServedTime(table) }}-->

          <!--</div>-->
        <!--</div>-->
        <!---->
      <!--</div>-->





      <div class="row"

           style="font-size: 13px; font-weight: 500;">
        <div class="col-xl-12">
            {{ getLastOrderSessionTimes(table) }}
        </div>
      </div>




    </div>
  </div>


</ng-template>


