
<div *ngIf="Orders">
<div class="row" >
  <div class="col-md-12 chefs-orders" *ngFor="let order of Orders" >
    <div *ngIf="order.OrderStatus === 0">
    Order Id: {{ order.Id }}
    <div class="col-md-12" *ngFor="let orderedItems of order.OrderedItems">
      {{ orderedItems.SetMenuName }}
      {{ orderedItems.FoodItemName }}
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary" (click)="orderAccepted(order)"  >Accept</button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-danger" (click)="orderRejected(order)">Reject</button>
    </div>
    <div class="col-md-12" style="color: #feff26">_________________________________________________</div>
  </div>
</div>
</div>
</div>
