
<!--<div *ngIf="Orders!== null">
<div class="row" >
  <div class="col-md-12 chefs-orders" *ngFor="let order of Orders" >
    <div *ngIf="order.OrderStatus == 0">
    Order Id: {{ order.Id }}
    <div class="col-md-12" *ngFor="let orderedItems of order.OrderedItems">
      {{ orderedItems.Name }}
      {{ orderedItems.Name }}
    </div>
    <div class="col-md-1">
      <button class="btn btn-primary" (click)="orderAccepted(order)"  >Accept</button>
    </div>
    <div class="col-md-1">
      <button class="btn btn-danger" (click)="orderRejected(order)">Reject</button>
    </div>
    <div class="col-md-12" style="color: #feff26">_________________________________________________</div>
  </div>
</div>
</div>
</div>-->


<div class="row">
  <div class=" col-md-12 on-chef">
    You are on chef now!
  </div>
</div>


<div class="row" *ngIf="Orders!== null">
  <div class="col-md-offset-3 col-md-6 " *ngFor="let order of Orders">
<div *ngIf="order.OrderStatus == 0">
  <div class="order-body">
    <div class="row">
      <div class="col-md-12 order-id">
        Order Id: {{ order.Id }}
      </div>
    </div>
    <div class="row">
      <div class="row">
        <div class="col-md-12 order-items-title">
          Ordered Items:
        </div>
      </div>
      <div class="row order-items-body" *ngFor="let orderedItems of order.OrderedItems; let i = index" >
        <div class="col-md-12 " >
          {{ i+1 }}. {{ orderedItems.Name }}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-4">
        <button class="all-categories-button" (click)="orderAccepted(order)"  >Accept</button>
      </div>
      <div class="col-md-offset-4 col-md-4">
        <button class="all-categories-button" (click)="orderRejected(order)">Reject</button>
      </div>
    </div>
  </div>
  </div>

    <div class="order-accepted" *ngIf="order.OrderStatus == 1">
      Order Id No. {{ order.Id }} is Accepted!
    </div>
    <div  class="order-rejected" *ngIf="order.OrderStatus == 2">
      Order Id No. {{ order.Id }} is Rejected!
    </div>
  </div>



  </div>

