.my-pagination /deep/ .ngx-pagination a, .ngx-pagination button{
  text-decoration: none;
  outline: 0;
}

.my-pagination /deep/.ngx-pagination{
  padding-left: 0;
}

.addition {
  background-color: #55bf55;
  font-weight: 500;
  word-break: break-word;
}

.removal {
  background-color: #d03b3b;
  font-weight: 500;
  word-break: break-word;
}
