
<div class="row">
  <div class="col-xl-12">
    <h6>General Information</h6>
  </div>
</div>

<hr>

<div class="row" style="font-weight: 500; font-size: 20px;">
  <div class="col-xl-12">
    Product's Name: {{ inventory.Name }}
  </div>
</div>

<div class="row" style="font-weight: 500; font-size: 17px;">
  <div class="col-xl-12">
    Average Price: {{ inventory.AveragePrice }} BDT
  </div>
</div>
<br>

<div class="row">
  <div class="col-xl-12">
    Available Quantity: {{ inventory.RemainingQuantity.toFixed(2) }} {{ inventory.Unit }} (s)
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    Used Quantity: {{ inventory.UsedQuantity.toFixed(2) }} {{ inventory.Unit }} (s)
  </div>
</div>

<br>


<div class="row text-xl-left">
  <div class="col-xl-12 col-12">

    <button
      routerLink="/admin/inventories/{{inventory.Id}}/add-inventory-quantity"
      class="btn btn-info">Add Quantity</button>&nbsp;

    <button
      routerLink="/admin/inventories/{{inventory.Id}}/remove-inventory-quantity"
      class="btn btn-dark">Remove Quantity</button>&nbsp;

  </div>
</div>

<div
  style="font-weight: 500; padding-top: 20px; padding-bottom: 20px;"
  *ngIf="inventory.InventoryHistory === null; else inventoryHistoryExists">


  No update histories.



</div>

<ng-template #inventoryHistoryExists>

  <br>
  <div class="row">
    <div class="col-xl-12">
      <h6>Update Histories</h6>
    </div>
  </div>


  <div class="row">
    <div class="col-xl-8 col-lg-8">

      <table border=1 cellpadding=10 width="100%">
        <tr style="font-weight: 500;">
          <td>Quantity</td>
          <td>Price</td>
          <td>Date</td>
        </tr>

        <tr
          *ngFor="let inventoryHistory of inventory.InventoryHistory
         | paginate: { itemsPerPage: 10, currentPage: pageNumber }">
          <td style="width: 10%">
            {{ inventoryHistory.Quantity }} {{ inventory.Unit }}
          </td>
          <td style="width: 10%">
            {{ inventoryHistory.Price }} BDT
          </td>
          <td style="width: 15%; word-break: break-word;">
            {{ inventoryHistory.DateTime }}
          </td>
        </tr>
      </table>



    </div>
  </div>

  <br>

  <div class="row text-xl-right">
    <div class="col-xl-8 col-lg-8">
      <pagination-controls
        class="my-pagination"
        [autoHide]="true"
        (pageChange)="pageNumber = $event"></pagination-controls>
    </div>
  </div>

</ng-template>




<div class="row text-xl-left">
  <div class="col-xl-12 col-12">

    <button
      routerLink="/admin/inventories/{{inventory.Id}}/edit-inventory-item"
      class="btn btn-warning">Edit</button> &nbsp;

    <button
      (click)="deleteInventoryItem()"
      class="btn btn-danger">Delete</button>

  </div>
</div>
