.buttons {
  padding-right: 0px;
  padding-left: 0px;
  padding-top: 10px; }

.add-remove-button {
  width: 100%;
  height: 100%;
  font-family: "Arial Narrow";
  color: #a50f10;
  background-color: #ffffdf;
  border: 1.2px solid #a50f10;
  border-radius: 5px;
  font-size: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 5px;
  font-weight: bold;
  text-align: center; }

.add-remove-button:hover {
  background-color: #a50f10;
  color: #ffffdf;
  font-family: "Arial Narrow";
  font-weight: bold;
  border: 1.2px solid #ffffdf;
  border-radius: 5px; }

.add-remove-button:focus {
  outline: 0; }

.text {
  color: #7e0000;
  font-size: 1.4vw;
  text-align: center;
  font-family: "Times New Roman";
  font-weight: bold;
  opacity: 0.3; }

.icon {
  font-size: 5vw;
  text-align: center; }

.fa-shopping-cart {
  color: #7e0000;
  opacity: 0.3; }

.your-purchased-Foods {
  padding-top: 1px;
  color: #7e0000;
  font-size: 1.1vw;
  font-family: "Times New Roman";
  font-weight: bold;
  padding-bottom: 10px;
  text-align: center; }

.list-detail {
  padding-top: 1px;
  color: #7e0000;
  font-size: .9vw;
  font-family: "Times New Roman";
  font-weight: bold; }

hr {
  padding-top: 0px;
  padding-bottom: 0px; }

.grand-total {
  padding-top: 20px;
  color: #7e0000;
  font-size: 1.2vw;
  font-family: "Times New Roman";
  font-weight: bold;
  text-align: center; }

.confirm-purchase {
  width: 100%;
  height: 100%;
  font-family: "Arial Narrow";
  color: #d32039;
  background-color: #ffffdf;
  border: 1px solid #ae0000;
  border-radius: 3px;
  font-size: 1vw;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-left: 0px;
  margin-top: 0px;
  font-weight: bold; }

.confirm-purchase:hover {
  background-color: #d32039;
  color: #ffffdf;
  font-family: "Arial Narrow";
  font-weight: bold;
  border: 1px solid #ffffdf;
  border-radius: 3px; }

.confirm-div {
  padding-left: 20px;
  padding-right: 2px; }

.discard-div {
  padding-left: 2px;
  padding-right: 20px; }

.confirm-purchase:focus {
  outline: 0; }

.cart-empty {
  border: 2px solid rgba(201, 191, 197, 0.87);
  border-radius: 6px;
  margin-top: 40px;
  margin-left: 2px;
  padding-top: 15vh;
  padding-bottom: 15vh; }

.whole {
  border: 2px solid rgba(201, 191, 197, 0.87);
  border-radius: 6px;
  padding-top: 20px;
  margin-top: 8px;
  margin-left: 2px; }

.name {
  padding-left: 26px;
  font-size: 1.1vw; }

.sub-total {
  font-size: 1.1vw;
  padding-left: 0px; }

.quantity {
  padding-left: 0px; }

.cash-memo-buttons {
  padding-bottom: 15px;
  padding-top: 10px; }

::-webkit-scrollbar {
  width: 4px; }

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  border-radius: 10px; }

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5); }

.cash-memo {
  height: 35vh;
  overflow-y: scroll;
  overflow-x: hidden; }

.dashboard {
  text-align: center;
  font-family: "Arial Narrow";
  font-weight: bold;
  font-size: 1.2vw;
  padding-top: 2vh; }

a {
  color: #970000;
  text-decoration: none; }

a:hover {
  color: #650d0e;
  text-decoration: none; }

.dashboard:hover {
  color: #6a0d0e;
  background-color: ghostwhite;
  font-family: "Arial Narrow";
  font-weight: bold;
  cursor: pointer; }

.pop-up {
  color: #7e0000;
  font-size: 19px;
  font-family: "Berlin Sans FB";
  text-align: center; }

.quantity, .serial {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px; }

.add, .remove {
  text-align: center;
  padding-left: 5px;
  padding-right: 5px; }

.other-adding-option {
  padding-top: 5px; }

.note {
  font-size: 1.1vw;
  font-family: "Times New Roman";
  color: #6a0d0e;
  font-weight: bold;
  text-align: center;
  padding-top: 20px; }

.remove-order {
  font-size: 1.2vw; }

input {
  font-size: 1vw;
  padding-right: 0;
  height: 4.8vh; }

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0; }

/*# sourceMappingURL=our-offers.component.css.map */
