/*
.SetMenuName {
  text-align: center;
  font-family: "Berlin Sans FB";
  font-size: 19px;
}

.our-offers-title{
  text-align: center;
  font-family:"Berlin Sans FB";
  font-size:25px;
  }
*/

.set-menu-title {
  font-family: "Times New Roman";
  font-size: 22px;
  color: #feff26;
  border: 2px solid #feff26;
  border-radius: 6px;
  margin-top:10px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.popup{
  color: black;
  font-family: "Berlin Sans FB";
  font-size:20px;
}
.smpbutton {
  width:100%;
  height:100%;
  font-family:"SansSerif";
  color: #feff26;
  background-color: black;
  border: 1.2px solid  #feff26;
  border-radius: 3px;
  font-size:20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 22px;
}

.smpbutton:hover{
  background-color: #feff26;
  color: black;
  font-family:"SansSerif";
  font-weight:bold;
  border: 1.2px solid black;
  border-radius: 3px;
}

.smpbutton:focus{
  outline:0;
}
