/*
.SetMenuName {
  text-align: center;
  font-family: "Berlin Sans FB";
  font-size: 19px;
}

.our-offers-title{
  text-align: center;
  font-family:"Berlin Sans FB";
  font-size:25px;
  }
*/
/*
.start{
  display: flex;
  overflow: hidden;
  height: 100vh;
 !* margin-top: -100px;
  padding-top: 100px;*!
  position: relative;
  width: 100%;
  backface-visibility: hidden;
  will-change: overflow;
}
.set-menu::-webkit-scrollbar{
  display: none;
}
.set-menu{
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}
.food-item::-webkit-scrollbar{
  display: none;
}
.food-item{
  overflow: auto;
  height: auto;
  -webkit-overflow-scrolling: touch;
  -ms-overflow-style: none;
}


.set-menu-title {
  font-family: "Times New Roman";
  font-size: 22px;
  color: #feff26;
  border: 2px solid #feff26;
  border-radius: 6px;
  margin-top:10px;
  text-align: center;
  padding-top: 6px;
  padding-bottom: 6px;
}

.popup{
  color: black;
  font-family: "Berlin Sans FB";
  font-size:20px;
}
.smpbutton {
  width:100%;
  height:100%;
  font-family:"SansSerif";
  color: #feff26;
  background-color: black;
  border: 1.2px solid  #feff26;
  border-radius: 3px;
  font-size:20px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 22px;
}

.smpbutton:hover{
  background-color: #feff26;
  color: black;
  font-family:"SansSerif";
  font-weight:bold;
  border: 1.2px solid black;
  border-radius: 3px;
}

.smpbutton:focus{
  outline:0;
}
*/


.buttons{
  padding-right: 0px;
  padding-left:0px;
  padding-top: 10px;
}

.all-categories{
  padding-top: 10px;
}

.regulars{
  padding-top: 10px;
}

.set-menus{
  padding-top: 10px;
}

.all-categories-button {
  width:100%;
  height:100%;
  font-family:"Arial Narrow";
  color: #a50f10;
  background-color: #ffffdf;
  border: 1.2px solid #a50f10;
  border-radius: 5px;
  font-size:16px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-left: 5px;
  margin-top: 22px;
  font-weight: bold;
  text-align: center;
}


.all-categories-button:hover{
  background-color: #a50f10;
  color: #ffffdf;
  font-family:"Arial Narrow";
  font-weight:bold;
  border: 1.2px solid #ffffdf;
  border-radius: 5px;
}

.all-categories-button:focus{
  outline:0;
}

.add-remove-button{
  width:100%;
  height:100%;
  font-family:"Arial Narrow";
  color: #a50f10;
  background-color: #ffffdf;
  border: 1.2px solid #a50f10;
  border-radius: 5px;
  font-size:16px;
  padding-top: 5px;
  padding-bottom: 5px;
  margin-top: 5px;
  font-weight: bold;
  text-align: center;
}
.add-remove-button:hover{
  background-color: #a50f10;
  color: #ffffdf;
  font-family:"Arial Narrow";
  font-weight:bold;
  border: 1.2px solid #ffffdf;
  border-radius: 5px;
}

.add-remove-button:focus{
  outline: 0;
}

.text{
  padding-left: 38px;
  color: #7e0000;
  font-size:18px;
  font-family:"Times New Roman";
  font-weight: bold;
  opacity: 0.3;
}

.fa-shopping-cart{
  font-size: 70px;
  padding-left: 80px;
  color: #7e0000;
  opacity: 0.3;
}


.your-purchased-Foods{
  padding-top: 1px;
  color: #7e0000;
  font-size:17px;
  font-family:"Times New Roman";
  font-weight: bold;
  padding-left: 70px;
  padding-bottom: 10px;
}
.list-title{
  padding-top: 10px;
  color: #7e0000;
  font-size:15px;
  font-family:"Times New Roman";
  font-weight: bold;
  text-align: center;
}
.list-detail{
  padding-top: 1px;
  color: #7e0000;
  font-size:12px;
  font-family:"Times New Roman";
  font-weight: bold;
}

hr{
  padding-top:0px;
  padding-bottom: 0px;
}

.grand-total{
  padding-top: 20px;
  color: #7e0000;
  font-size:18px;
  font-family:"Times New Roman";
  font-weight: bold;
  text-align: center;
}

.confirm-purchase{
  width:100%;
  height:100%;
  font-family:"Arial Narrow";
  color: #d32039;
  background-color: #ffffdf;
  border: 1px solid #ae0000;
  border-radius: 3px;
  font-size:16px;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-left: 0px;
  margin-top: 0px;
  font-weight: bold;
}

.confirm-purchase:hover{
  background-color: #d32039;
  color: #ffffdf;
  font-family:"Arial Narrow";
  font-weight:bold;
  border: 1px solid #ffffdf;
  border-radius: 3px;
}


.confirm-div{
  padding-left:20px;
  padding-right:2px;
}

.discard-div{
  padding-left:2px;
  padding-right:20px;
}

.confirm-purchase:focus{
  outline:0;
}

discard-order-div{
  text-align: center;
}

.cart-empty{
  padding-top: 150px;
  border: 2px solid #7e0000;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(161, 18, 18, 0.2);
  -moz-box-shadow: 0px 10px 25px 0px rgba(161, 18, 18, 0.2);
  box-shadow: 0px 10px 25px 0px rgba(161, 18, 18, 0.2);
  border-radius: 6px;
  margin-top:  40px;
  margin-left: 18px;
  padding-bottom: 150px;

}

.whole{
  border: 2px solid #7e0000;
  -webkit-box-shadow: 0px 10px 25px 0px rgba(161, 18, 18, 0.2);
  -moz-box-shadow: 0px 10px 25px 0px rgba(161, 18, 18, 0.2);
  box-shadow: 0px 10px 25px 0px rgba(161, 18, 18, 0.2);
  border-radius: 6px;
  padding-top: 20px;
  margin-top:  8px;
  margin-left: 18px;
}

.please-wait{
  color: #7e0000;
  font-family:"Times New Roman";
  font-size: 14px;
}




.name{
  padding-left: 26px;
  font-size: 14px;
}

.sub-total{
  font-size: 14px;
  padding-left: 0px;
}

.price{

}
.mul{
  text-align: center;
}

.quantity{
  padding-left: 10px;
}


.cash-memo-buttons{
  padding-bottom:15px;
  padding-top: 10px;
}



::-webkit-scrollbar {
  width: 4px;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(0, 0, 0, 0.61);
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5);
}

.cash-memo{
  height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
}




@import url('https://fonts.googleapis.com/css?family=Acme|Aladin|Berkshire+Swash|Cabin+Sketch|Chewy|Fredoka+One|Kanit|Lobster|Londrina+Solid|Righteous|Rock+Salt');
.hodoo {
  font-family: 'Berkshire Swash', "Times New Roman", "Berlin Sans FB", cursive;
  font-size:40px;
  // padding-left: 38px;
  text-align: right;
  color: #7e0000;
  padding-top: 5px;
}

.hodoo:focus {
  outline: 0;
}

.dashboard{
  width:20%;
  height:100%;
  font-family:"Arial Narrow";
  color: #aa0909;
  background-color: ghostwhite;
  /*border: 1.2px solid #ae0000;
  border-radius: 5px;*/
  font-size:16px;
  padding-top: 5px;
  padding-bottom: 5px;
  font-weight: bold;
  text-align: center;
  margin-top: 15px;
}



.dashboard:hover{
  color: #6a0d0e;
  background-color: ghostwhite;
  font-family:"Arial Narrow";
  font-weight:bold;
  /* border: 1.2px solid #ffffdf;
   border-radius: 5px;*/
}


.pop-up{
  color: #7e0000;
  font-size: 19px;
  font-family: "Berlin Sans FB";
  text-align: center;
}


.quantity, .serial{
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.add, .remove{
  text-align: center;
  padding-left: 5px;
  padding-right: 5px;
}

.other-adding-option{
  padding-top: 5px;
}

.note{
  font-size: 15px;
  font-family:"Times New Roman";
  color: #6a0d0e;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
}
.remove-order{
  font-size: 15px;
}
