<div class="row main-row">
  <div class="col-md-8 header">
    Manage Your Food Items
  </div>
  <a routerLink="/control-panel">
  <div class="col-md-2 dashboard">
    <i class="fa fa-power-off" aria-hidden="true"></i> Back to Dashboard
  </div>
  </a>
  <div class="col-md-1 hodoo">
    hodoo
  </div>
</div>

<div class="row">
  <a routerLink="/admin/food-item/add-new-food-item">
  <div class="col-md-offset-9 col-md-2 add-new">
    <i class="fa fa-plus-circle" aria-hidden="true"></i> Add New Item
  </div>
  </a>
  <div class="col-md-1">
    <div class="row icons">
      <a title="List View" routerLink="/admin/food-item/list-view" routerLinkActive="icon-active">
        <div class="col-md-6 list">
          <i class="fa fa-bars" aria-hidden="true"></i>
        </div>
      </a>
      <a title="Grid View" routerLink="/admin/food-item/grid-view" routerLinkActive="icon-active">
        <div class="col-md-6 grid">
          <i class="fa fa-th-large" aria-hidden="true"></i>
        </div>
      </a>
    </div>
  </div>
</div>

<router-outlet></router-outlet>
