<div class="row" style="font-weight: 500;">
  <div class="col-xl-12">
    Add New Inventory Item
  </div>
</div>

<br>


<form (ngSubmit) = "addNewInventoryItem(newInventoryItem)" #newInventoryItem= "ngForm">

  <div class="row form-group">
    <div class="col-xl-6">

      <label for="name">Item's Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        ngModel
        name="name"
        #name="ngModel"
        required>

      <p
        style="color: red; margin-bottom: 0;"
        *ngIf="name.invalid && (name.dirty || name.touched)">
        Item's name is required!
      </p>

    </div>
  </div>

  <div class="row form-group">
    <div class="col-xl-6">

      <label for="unit">Unit</label>
      <input
        type="text"
        id="unit"
        class="form-control"
        ngModel
        name="unit"
        #unit="ngModel"
        required>
      <p
        style="color: red; margin-bottom: 0;"
        *ngIf="unit.invalid && (unit.dirty || unit.touched)">
        Unit is required!
      </p>
    </div>
  </div>



  <div class="row">
    <div class="col-xl-6">
      <hr>
    </div>
  </div>


<div class="row">
  <div class="col-xl-6 text-xl-right">
    <button
      [disabled]="newInventoryItem.invalid || isDisabled"
      type="submit"
      class="btn btn-success">Save</button>
    &nbsp;
    <button
      type="button"
      routerLink="/admin/inventories"
      class="btn btn-danger">Discard</button>
  </div>
</div>


</form>
