




<!--<div class="row dashboard">-->
  <!--<a routerLink="/our-offers/regulars">-->
    <!--<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 pos">-->
      <!--Point of Sale <i class="fa fa-shopping-cart cart" aria-hidden="true"></i>-->
    <!--</div>-->
  <!--</a>-->
  <!--<a routerLink="/admin/food-item/grid-view">-->
    <!--<div class="col-lg-6 col-md-12 col-sm-12 col-xs-12 admin">-->
    <!--Administration <i class="fa fa-user-circle" aria-hidden="true"></i>-->
    <!--</div>-->
  <!--</a>-->
<!--</div>-->
