<div class="row empty" *ngIf="totalOrder === 0; else notEmpty">
  <div class="col-md-12">
    No order has arrived yet.
  </div>
</div>


<ng-template #notEmpty>

<div class="row">
  <div class="col-md-4 search-bar">
    <span class="fa fa-search"></span>
    <input class="box" type="text" [(ngModel)]="term" placeholder="Search by Receipt Ref...">
  </div>
</div>



<div class="row body">
  <div class="col-md-4 items" *ngFor="let orderList of orderLists | order:term">
    <a title="View This Order's Details"
       style="cursor: pointer" (click)="viewDetails(orderList)">
    <div class="row table-and-money">
      <div class="col-md-6">
        {{ orderList.TableNumber }}
      </div>
      <div class="col-md-offset-3 col-md-3 money">
        <i class="fa fa-money" aria-hidden="true"></i> {{ orderList.totalPrice }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 order-id">
        {{ orderList.Id }}
      </div>
    </div>
    <div class="row">
      <div class="col-md-12 order-date">
        {{ orderList.DateTime }}
      </div>
    </div>
    </a>
  </div>
</div>
<div class="row">
  <div class="col-md-12 Summary">
    Summary
  </div>
</div>
<div class="row">
  <div class="col-md-12 detail">
    Total Order: {{ totalOrder }} (s)
  </div>
</div>
<div class="row">
  <div class="col-md-12 detail">
    Total Sale: {{ grossSale }} BDT
  </div>
</div>
<div class="row">
  <div class="col-md-12 detail">
    Total Inventory Cost: {{ grossCost }} BDT
  </div>
</div>
<div class="row">
  <div class="col-md-12 detail">
    Total Profit: {{ grossProfit }} BDT
  </div>
</div>
</ng-template>
