@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';


.active {
  color: #007bff!important;
}
@media (max-width: 500px) {
  .small-padding {
    padding-bottom: 105px;
    padding-top: 15px;
  }
}
