


<div class="row text-md-center text-lg-center text-sm-center text-center" style="font-weight: 500; padding-bottom: 10px;">
  <div class="col-xl-12">

    Payment

  </div>
</div>


<div class="row" style="padding-bottom: 2px; padding-top: 2px;">

  <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12">
    <button
      type="button"
      routerLink="/pos/"
      class="btn btn-info">Tables</button> &nbsp;

    <button
      type="button"
      routerLink="/pos/{{ tableId }}/menu"
      class="btn btn-dark">Menu</button> &nbsp;

    <button
      type="button"
      [disabled]="tendered < order.GrossTotalPrice || isDisabled"
      (click)="validateOrder()"
      class="btn btn-warning">Validate</button> &nbsp;

    <button
      type="button"
      [disabled]="order.CurrentState !== 'Paid'"
      class="btn btn-success"
      ngxPrint
      printSectionId="receipt"
      >Print</button> &nbsp;



  </div>

</div>

<br>

<div class="row" style="padding-bottom: 2px; padding-top: 2px;">

  <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 tendered-bar" style="font-weight: 500;`">

    <label>Total</label>
    <input
      disabled
      type="number"
      min="0"
      class="form-control"
      [ngModel]="order.GrossTotalPrice">
  </div>

  <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 tendered-bar" style="font-weight: 500;">

    <label>Tendered</label>
    <input
      type="number"
      min="0"
      class="form-control"
      [(ngModel)]="tendered">

  </div>


    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 tendered-bar"
         style="font-weight: 500;"
         *ngIf="(tendered - order.GrossTotalPrice) >= 0; else showZero">

      <label>Change</label>
      <input
        disabled
        type="number"
        min="0"
        class="form-control"
        [ngModel]="tendered - order.GrossTotalPrice">

    </div>

  <ng-template #showZero>

    <div class="col-xl-2 col-lg-2 col-md-4 col-sm-4 tendered-bar" style="font-weight: 500;">
      <label>Change</label>
      <input
        disabled
        type="number"
        min="0"
        class="form-control"
        [ngModel]="'0'">
    </div>

  </ng-template>



  <div class="col-xl-4 col-lg-4 col-md-12 bottom" style="font-weight: 500;">
    <form #discountForm ="ngForm">

          <div class="row form-group">
            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">

              <label>Discount Rate</label>
              <input
                required
                name="discountRate"
                id="discountRate"
                type="number"
                ngModel
                min="1"
                class="form-control">

            </div>

            <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">

              <label for="discountType">Type</label>
              <select
                [(ngModel)]=  "percent"
                required
                class="form-control" name="discountType" id="discountType">
                <option value="flat" selected = "selected">Flat</option>
                <option value="percent">Percent</option>
              </select>

            </div>
          </div>

    </form>

  </div>

  <div class="col-xl-1 col-lg-1 col-md-1 top">

    <button
      type="submit"
      [disabled]="discountForm.invalid"
      (click)="calculateOrderDiscount(discountForm)"
      class="btn btn-success">Add</button>

  </div>




</div>

<br>

<div class="row" >
  <div class="col-xl-8">

    <div class="row" style="text-align: center; font-weight: 500;">
      <div class="col-xl-12">

        Cart

      </div>
    </div>

    <hr>

    <div class="row" style="font-size: 15px;">

      <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="word-break: break-word">

        SN & Name

      </div>

      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="word-break: break-word">

        Price

      </div>

      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="word-break: break-word">

        Quantity

      </div>

      <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="word-break: break-word">

        Total

      </div>

    </div>

    <div style="font-size: 15px; padding-top: 20px;">

      <div *ngFor="let orderedItem of mergedArrayOfOrderedItems">

        <div class="row">
          <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6" style="word-break: break-word">
            {{ getFoodItemInformation('Name', orderedItem.FoodItemId) }}
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="word-break: break-word">
            {{ getFoodItemInformation('Price', orderedItem.FoodItemId) }}
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="word-break: break-word">
            {{ orderedItem.FoodItemQuantity }}
          </div>

          <div class="col-xl-2 col-lg-2 col-md-2 col-sm-2 col-2" style="word-break: break-word">
            {{ orderedItem.TotalPrice }}
          </div>
        </div>

        <hr>
      </div>


      <div
        class="row"
        style="text-align: right; padding-top: 5px; padding-bottom: 5px; font-weight: 500;">
        <div class="col-xl-12">

          Total: {{ order.TotalPrice }} BDT

        </div>
      </div>

      <div
        *ngIf="setting.VatRate !== null"
        class="row"
        style="text-align: right; padding-top: 5px; padding-bottom: 5px; font-weight: 500;">
        <div class="col-xl-12">

          Vat {{ setting.VatRate }}%: {{ order.VatAmount.toFixed(2) }} BDT

        </div>
      </div>

      <div class="row"
        *ngIf="setting.ServiceChargeRate !== null"
        style="text-align: right; padding-top: 5px; padding-bottom: 5px; font-weight: 500;">
        <div class="col-xl-12">

          Service Charge {{ setting.ServiceChargeRate }}%: {{ order.ServiceChargeAmount.toFixed(2) }} BDT

        </div>
      </div>

      <div class="row"
           *ngIf="order.DiscountRate !== 0"
           style="text-align: right; padding-top: 5px; padding-bottom: 5px; font-weight: 500;">
        <div class="col-xl-12">

         <span *ngIf="order.DiscountType === 'Percent'">
           Discount {{ order.DiscountRate }}%: {{ order.DiscountAmount.toFixed(2) }} BDT
          <i
            title="Remove discount"
            style="cursor: pointer"
            (click)="removeOrderDiscount()"
            class="fa fa-times-circle-o"
            aria-hidden="true"></i>
           </span>

         <span *ngIf="order.DiscountType === 'Flat'">
           Flat Discount {{ order.DiscountRate }} BDT
          <i
            title="Remove discount"
            style="cursor: pointer"
            (click)="removeOrderDiscount()"
            class="fa fa-times-circle-o"
            aria-hidden="true"></i>
           </span>

        </div>
      </div>

      <div class="row"
           style="text-align: right;
           padding-top: 5px;
           padding-bottom: 5px;
           font-size: 17px;
           font-weight: bold;">
        <div class="col-xl-12">

          Gross Total: {{ order.GrossTotalPrice.toFixed(2) }} BDT

        </div>
      </div>


  </div>

  </div>

  <div class="col-xl-4">

    <div id = "receipt" style="
      box-shadow: 0 0 1in -0.25in rgba(0, 0, 0, 0.5);
      padding:2mm;
      margin: 0 auto;
      width: 44mm;
      background: #FFF;">




        <div
          *ngIf="setting.ShopName !== ''"
          style="text-align: center; font-weight: 500; font-size: .8em;">

          {{ setting.ShopName }}

        </div>

      <div
        *ngIf="setting.ShopAddress !== ''"
        style="text-align: center; color: #666666; font-size: .5em;">

        {{ setting.ShopAddress }}

      </div>

      <div
        *ngIf="setting.ShopPhone !== ''"
        style="text-align: center; color: #666666; font-size: .5em;">

        Phone: {{ setting.ShopPhone }}

      </div>

      <div
        *ngIf="setting.ShopFacebookPage !== ''"
        style="text-align: center; color: #666666; font-size: .5em;">

        Like us at: {{ setting.ShopFacebookPage }}

      </div>

      <div style="text-align: center; color: #666666; padding-top: .2mm; margin-bottom: -.5em;">
        ***************
      </div>

      <div
        style="text-align: center;
                  font-weight: 500;
                  color: #666666;
                  padding-bottom: .5em;
                  font-size: .6em;">
        Invoice
      </div>

      <table style="width: 100%;
    border-collapse: collapse; font-size: .5em;">


        <tr>
          <td>Vat Reg No. {{ setting.VatRegNumber }}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Vat Reg No. {{ setting.VatType }}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>


        <tr>
          <td>Order No. {{ order.Id }}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td>Date Time. {{ order.DateTime }}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td style="font-weight: 500;!important;">Table No. {{ getTableName(order.TableId) }}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

        <tr>
          <td style="font-weight: 500;!important;">Sold By. {{ order.SalesPersonName }}</td>
          <td></td>
          <td></td>
          <td></td>
        </tr>

      </table>

      <div style="padding-top: .5mm; padding-bottom: .5mm;"></div>

      <table style="width: 100%;
    border-collapse: collapse; font-size: .5em;">

        <tr >
          <td>Name</td>
          <td style="text-align: right;">#</td>
          <td style="text-align: right;">Price</td>
          <td style="text-align: right;">S.Total</td>
        </tr>


        <tr *ngFor="let item of mergedArrayOfOrderedItems">
          <td> {{ getFoodItemInformation('Name', item.FoodItemId) }}</td>
          <td style="text-align: right;"> {{ item.FoodItemQuantity }}</td>
          <td style="text-align: right;"> {{ getFoodItemInformation('Price', item.FoodItemId) }}</td>
          <td style="text-align: right;" >{{ item.TotalPrice }}</td>
        </tr>

      </table>


      <div style="text-align: center; color: #666666 ">
        ---------------
      </div>

      <table style="width: 100%; border-collapse: collapse; font-size: .5em;">

        <tr>
          <td>Total</td>
          <td></td>
          <td></td>
          <td style="text-align: right;">{{ order.TotalPrice.toFixed(2) }}</td>
        </tr>

        <tr *ngIf="setting.VatRate !== null">
          <td>Vat {{ setting.VatRate }}%</td>
          <td></td>
          <td></td>
          <td style="text-align: right;">{{ order.VatAmount.toFixed(2) }}</td>
        </tr>

        <tr *ngIf="setting.ServiceChargeRate !== null">
          <td>Service Charge {{ setting.ServiceChargeRate }}%</td>
          <td></td>
          <td></td>
          <td style="text-align: right;">{{ order.ServiceChargeAmount.toFixed(2) }}</td>
        </tr>

        <tr *ngIf="order.DiscountRate !== 0 && order.DiscountType === 'Percent'">
          <td>Discount {{ order.DiscountRate }}%</td>
          <td></td>
          <td></td>
          <td style="text-align: right;">{{ order.DiscountAmount.toFixed(2) }}</td>
        </tr>

        <tr *ngIf="order.DiscountRate !== 0 && order.DiscountType === 'Flat'">
          <td>Discount {{ order.DiscountRate }}-FLat</td>
          <td></td>
          <td></td>
          <td style="text-align: right;">{{ order.DiscountAmount.toFixed(2) }}</td>
        </tr>

        <tr>
          <td>Gross Total</td>
          <td></td>
          <td></td>
          <td style="text-align: right;">{{ order.GrossTotalPrice.toFixed(2) }}</td>
        </tr>

        <tr *ngIf="order.Tendered !== null">
          <td>Tendered</td>
          <td></td>
          <td></td>
          <td style="text-align: right;">{{ order.Tendered.toFixed(2) }}</td>
        </tr>

        <tr *ngIf="order.Change !== null">
          <td>Change</td>
          <td></td>
          <td></td>
          <td style="text-align: right;">{{ order.Change.toFixed(2) }}</td>
        </tr>

      </table>


      <div
        style="
        text-align: center;
        color: #666666;
        padding-top: .5mm;">
        ***************
      </div>


      <div
        *ngIf="setting.ShopAddress !== ''"
        style="text-align: center; color: #666666; font-size: .5em;">

        {{ setting.AdditionalInformation }}

      </div>




    </div>



  </div>

</div>






