<div class="row" style="font-weight: 500;">
  <div class="col-xl-12">
    Edit Information of {{ foodItem.Name }}
  </div>
</div>

<br>

<form (ngSubmit) = "editFoodItem(newFoodItem)" #newFoodItem = "ngForm">


  <div class="row">
    <div class="col-xl-1">
      <img [src]="imageUrl"
           style="width: 150px;
            height: 150px;">
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-xl-1">
      <input type="file"
             #Image
             accept="image/*"
             (change)="handleFileInput($event.target.files)">
    </div>
  </div>

  <br>

  <div class="row form-group">
    <div class="col-xl-6">

      <label>Food Item's Name</label>
      <input
        type="text"
        id="itemName"
        class="form-control"
        [ngModel]="foodItem.Name"
        name="itemName"
        #itemName="ngModel"
        required>
      <p
        style="color: red; margin-bottom: 0;"
        *ngIf="itemName.invalid && (itemName.dirty || itemName.touched)">
        Food item name is required!
      </p>

    </div>


  </div>


  <div class="row form-group">
    <div class="col-xl-3">

      <label>Selling Price</label>
      <input
        type="number"
        min="1"
        class="form-control"
        [(ngModel)] = "sellingPrice"
        name="sellingPrice"
        #price="ngModel"
        required>
      <p
        style="color: red; margin-bottom: 0;"
        *ngIf="price.invalid && (price.dirty || price.touched)">
        Selling price is required!
      </p>

    </div>

    <div class="col-xl-3">
      <label>Serial Number</label>
      <input
        type="text"
        id="serialNumber"
        class="form-control"
        [ngModel]="foodItem.SerialNumber"
        name="serialNumber"
        #serialNumber="ngModel"
        required>
      <p
        style="color: red; margin-bottom: 0;"
        *ngIf="serialNumber.invalid && (serialNumber.dirty || serialNumber.touched)">
        Serial number is required!
      </p>

    </div>
  </div>

  <div class="row">
    <div class="col-xl-3" style="font-weight: 500;">
      Inventory Cost: {{ inventoryCost.toFixed(3) }} BDT
    </div>

    <div class="col-md-3"
         style="font-weight: 500; color: #008000"
         *ngIf="sellingPrice-inventoryCost >= 0; else loss">
      Profit {{ (sellingPrice-inventoryCost).toFixed(3) }} BDT
    </div>

    <ng-template #loss>
      <div class="col-md-3" style="color: #e30000; font-weight: 500;">
        Loss {{ (inventoryCost-sellingPrice).toFixed(3) }} BDT
      </div>
    </ng-template>

  </div>

  <div class="row">
    <div class="col-xl-6">
      <hr>
    </div>
  </div>

  <div class="row"
       style="font-weight: 500;"
       *ngIf="inventories.length === 0; else checkIfInventoryIsEmpty">
    <div class="col-xl-6">
      Your inventory is empty! Add items in your inventory first.
    </div>
  </div>

  <br>


  <ng-template #checkIfInventoryIsEmpty>

    <div class="row" style="font-weight: 500;">
      <div class="col-xl-6">
        Build Your Recipe From Below
      </div>
    </div>

    <form (ngSubmit) = "editIngredients(addNewIngredients)" #addNewIngredients = "ngForm">

      <div class="row form-group">
        <div class="col-xl-4">

          <select
            style="cursor: pointer;"
            id="inventoryId"
            class="form-control"
            ngModel
            required
            name="inventoryId">
            <option value="" selected disabled hidden>Select Ingredients</option>
            <option
              style="cursor: pointer;"
              *ngFor="let inventory of inventories"
              [value]="inventory.Id">
              {{ inventory.Name }}
            </option>
          </select>

        </div>

        <div class="col-xl-2">
          <input
            type="number"
            min="1"
            id="quantity"
            class="form-control"
            ngModel
            name="quantity"
            required
            placeholder="Quantity">
        </div>
      </div>

      <div class="row text-xl-right">
        <div class="col-xl-6">
          <button
            [disabled]="addNewIngredients.invalid"
            type="submit"
            (click)="addOrRemoveCheck('Add')"
            class="btn btn-success">
            Add</button> &nbsp;

          <button
            [disabled]="addNewIngredients.invalid"
            type="submit"
            (click)="addOrRemoveCheck('Remove')"
            class="btn btn-danger">Remove</button>
        </div>
      </div>

      <div *ngIf="foodItem.Ingredients.length !== 0">

        <div class="row" style="font-weight: 500;">
          <div class="col-xl-6">
            Ingredients List
          </div>
        </div>
        <div class="row">
          <div class="col-xl-10">



            <table border=1 cellpadding=10 width="100%">
              <tr style="font-weight: 500;">
                <td>Product's Name</td>
                <td>Product's Quantity</td>
                <td>Per Unit Price</td>
                <td>Sub Total</td>
              </tr>

              <tr
                *ngFor="let ingredient of foodItem.Ingredients; let i = index">
                <td>
                  {{ getIngredientInfo(ingredient.InventoryId, 'Name') }}
                </td>
                <td>
                  {{ ingredient.Quantity }}
                  {{ getIngredientInfo(ingredient.InventoryId, 'Unit') }}
                </td>
                <td>
                  {{ getIngredientInfo(ingredient.InventoryId, 'Price') }}
                </td>
                <td>
                  <div class="row">
                    <div class="col-xl-6">
                      {{ ingredient.SubTotal.toFixed(3) }}
                    </div>
                    <div class="col-xl-6 text-xl-right">
                      <i
                        style="cursor: pointer;"
                        title="Remove this ingredient"
                        (click)="deleteIngredient(i)"
                        class="fas fa-times"></i>
                    </div>
                  </div>


                </td>


              </tr>
            </table>


          </div>
        </div>

      </div>


    </form>
  </ng-template>

  <div class="row">
    <div class="col-xl-10">
      <hr>
    </div>
  </div>

  <div class="row text-xl-right">
    <div class="col-xl-10">
      <button
        [disabled]="newFoodItem.invalid || isDisabled"
        class="btn btn-success" type="submit">Save</button>&nbsp;
      <button
        routerLink="/admin/food-items/{{foodItemId}}"
        class="btn btn-danger" type="button">Discard</button>
    </div>
  </div>

</form>


