
.mat-drawer-container {
  background-color: #fff;
}

.body-content {
  padding-left: 15px;
  padding-right: 15px;
  margin-top: 90px;
}

.example-container {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}



