

<app-logout></app-logout>
<div class="row main-row">
  <div class="col-md-offset-9 col-md-3">

    <a style="cursor: pointer"
       (click)="discardOrder()"
       title="Destroy Current Order">
      <div class="col-md-1 dashboard">
        <i class="fa fa-times-circle-o" aria-hidden="true"></i>
      </div>
    </a>
    <div class="col-md-2 hodoo-logo">
      hodoo
    </div>
  </div>
</div>


<div class="row upper-div">
  <div class="col-md-offset-3 col-md-6 change">
Change: {{ change }} BDT
  </div>
  <div class="col-md-3 next-order-div">
    <button
      (click)="nextOrder()"
      class="back">
      Next Order
      <i class="fa fa-angle-double-right"></i></button>
  </div>
</div>


<div class="row">
  <div class="col-md-offset-2 col-md-8 receipt">
    <button (click)="print()" class="back"><i class="fa fa-print"></i> Print Receipt</button>
  </div>
</div>


<div class="row print-row">
  <div class="col-md-offset-4 col-md-4" id="print-section">
        <div class="col-md-12 intro">
          <div class="col-md-6 date-time">{{ order.DateTime }}</div>
          <div class="col-md-6 id">{{ order.Id }}</div>
        </div>
    <div class="row">
      <div class="col-md-12 table-no">
       Table: {{ order.TableNo }}
      </div>
    </div>

        <div class="col-md-12 hodoo">
          Hodoo
        </div>


        <div class="col-md-12 main" *ngFor="let orders of order.OrderedItems">
            <div class="col-md-4 name">{{ orders.FoodItemName }}</div>
            <div class="col-md-2 price">{{ orders.Price }}</div>
            <div class="col-md-1 mul">x</div>
            <div class="col-md-2 quantity">{{ orders.FoodItemQuantity }}</div>
            <div class="col-md-1 equal">=</div>
            <div class="col-md-2 sub-total">{{ orders.FoodItemSubTotal }}</div>
        </div>
        <div class="col-md-12 total-div">
          <div class="col-md-6 total">Total:</div>
          <div class="col-md-6 total-bdt">{{ order.TotalPrice }} BDT</div>
        </div>

        <div class="col-md-12 tendered-div">
          <div class="col-md-6 tendered">Tendered:</div>
          <div class="col-md-6 tendered-bdt">{{ order.Tendered }} BDT</div>
        </div>

        <div class="col-md-12 change-div">
          <div class="col-md-6 change-cash">Change:</div>
          <div class="col-md-6 change-bdt">{{ order.Change }} BDT</div>
        </div>

        <div class="col-md-12 choosing-hodoo">
          Thank you for choosing Hodoo!
        </div>
  </div>
</div>

<popup class="pop-up" (confirmClick)="confirmEvent(order)" (cancelClick)="cancelEvent()">
  You'll lose any data associated with the current order
</popup>
