
<div class="row">
  <div class="col-xl-12">
    <h6>General Information</h6>
  </div>
</div>

<hr>

<div class="row" style="font-weight: 500; font-size: 20px;">
  <div class="col-xl-12">
    User Name: {{ userAccount.UserName}}
  </div>
</div>

<div class="row"style="font-weight: 500; font-size: 17px;">
  <div class="col-xl-12">
    Role: {{ userAccount.RoleName }}
  </div>
</div>
<br>

<div class="row" *ngIf="userAccount.FullName !== null">
  <div class="col-xl-12">
    Full Name: {{ userAccount.FullName}}
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    Email: {{ userAccount.Email }}
  </div>
</div>

<div class="row" *ngIf="userAccount.PhoneNumber !== null">
  <div class="col-xl-12">
     Phone Number: {{ userAccount.PhoneNumber }}
  </div>
</div>

<br>
<div class="row" *ngIf="userAccount.JoiningDateTime !== null">
  <div class="col-xl-12">
    Addind Date Time: {{ userAccount.JoiningDateTime }}
  </div>
</div>

<br>

<div class="row text-xl-left">
  <div class="col-xl-10">

    <button
      routerLink="/admin/user-accounts/{{userAccount.Id}}/change-password-by-admin"
      class="btn btn-info">Change Password</button> &nbsp;
    <button
      routerLink="/admin/user-accounts/{{userAccount.Id}}/edit-user-account"
      class="btn btn-warning">Edit</button> &nbsp;

    <button
      [disabled]="isDisabled"
      [hidden]="
      userAccount.UserName === 'Admin' ||
      userAccount.UserName === 'Worker'"
      (click)="deleteUser()"
      class="btn btn-danger">Delete</button>

  </div>
</div>

