
<div class="row">
  <div class="col-xl-12">
    <h6>General Information</h6>
  </div>
</div>

<hr>

<div class="row" style="font-weight: 500; font-size: 20px;">
  <div class="col-xl-12">
    User Name: {{ user.UserName}}
  </div>
</div>

<div class="row"style="font-weight: 500; font-size: 17px;">
  <div class="col-xl-12">
    Role: {{ user.RoleName }}
  </div>
</div>
<br>

<div class="row" *ngIf="user.FirstName !== '' || user.LastName !== ''">
  <div class="col-xl-12">
    Full Name: {{ user.FirstName}} {{ user.LastName }}
  </div>
</div>

<div class="row">
  <div class="col-xl-12">
    Email: {{ user.Email }}
  </div>
</div>

<div class="row" *ngIf="user.PhoneNumber !== ''">
  <div class="col-xl-12">
     Phone Number: {{ user.PhoneNumber }}
  </div>
</div>

<br>
<div class="row">
  <div class="col-xl-12">
    Addind Date Time: {{ user.AddingDateTime }}
  </div>
</div>

<br>

<div class="row text-xl-left">
  <div class="col-xl-10">

    <button
      routerLink="/admin/users/{{userId}}/edit-user"
      class="btn btn-primary">Change Password</button>

    <button
      routerLink="/admin/users/{{userId}}/edit-user"
      class="btn btn-warning">Edit</button> &nbsp;

    <button
      (click)="deleteUser()"
      class="btn btn-danger">Delete</button>

  </div>
</div>

