<div class="row">
  <div class="col-md-3"></div>
  <form  (ngSubmit)="onSubmitSetMenu(setMenu)" #setMenu = "ngForm">
  <div class="col-md-8">
  <br>
  <label>Enter Set Menu Name:
  <input type="text"
         name="name"
         placeholder="Enter Name"
         ngModel>
  </label>
    <br>
  <label>Enter Set Menu Price:
  <input type="number"
         name="price"
         placeholder="Enter Price"
         ngModel>
  </label>
    <br>
    <label>Enter Set Menu Image URL:
      <input type="text"
             name="image"
             placeholder="Enter Image URL:"
             ngModel>
    </label>
  <br><br>
  <div *ngFor="let setItem of setMenuFoodItems">
    <input type="checkbox"
           name="setItem.isSelected"
            [(ngModel)]="setItem.isSelected">{{setItem.Name}}
  </div>
  <button type="submit" class="btn btn-success">Save</button>
  <button type="button" class="btn btn-primary" (click)="onCancel()">Cancel</button>
  </div>
</form>
  <div class="col-md-3"></div>
</div>
