


<div class="row" *ngIf="inventories.length === 0; else notEmpty">
  <div class="col-md-12">
    No item is available. Click "Add New Item" to populate.
  </div>
</div>

<ng-template #notEmpty>


  <mat-form-field>
    <input
      style="width: 100%;"
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Search...">
  </mat-form-field>

  <div class="mat-elevation-z8" style="box-shadow: none!important;">
    <table  mat-table [dataSource]="dataSource" matSort>

      <ng-container matColumnDef="Name">
        <th
          style="font-size: 14px; font-weight: 500; color: #000;"
          mat-header-cell *matHeaderCellDef mat-sort-header> Name </th>
        <td
          style="width: 25%; word-break: break-word;"
          mat-cell *matCellDef="let row"> {{row.Name}} </td>
      </ng-container>


      <ng-container matColumnDef="AveragePrice">
        <th
          style="font-size: 14px; font-weight: 500; color: #000;"
          mat-header-cell *matHeaderCellDef mat-sort-header> Price </th>
        <td style="width: 20%" mat-cell *matCellDef = "let row"> {{row.AveragePrice}} BDT </td>
      </ng-container>

      <ng-container matColumnDef="Unit">
        <th
          style="font-size: 14px; font-weight: 500; color: #000;"
          mat-header-cell *matHeaderCellDef mat-sort-header> Unit </th>
        <td
          style="width: 20%"
          mat-cell *matCellDef="let row"> {{row.Unit}} </td>
      </ng-container>

      <ng-container matColumnDef="RemainingQuantity">
        <th
          style="font-size: 14px; font-weight: 500; color: #000;"
          mat-header-cell *matHeaderCellDef mat-sort-header> Remaining </th>
        <td
          style="width: 20%"
          mat-cell *matCellDef="let row" > {{row.RemainingQuantity}} </td>
      </ng-container>

      <ng-container matColumnDef="UsedQuantity">
        <th
          style="font-size: 14px; font-weight: 500; color: #000;"
          mat-header-cell *matHeaderCellDef mat-sort-header> Used </th>
        <td
          style="width: 20%"
          mat-cell *matCellDef="let row" > {{row.UsedQuantity}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"
          style="cursor: pointer;"
          title="See details"
          routerLink="/admin/inventories/{{ row.Id }}">
      </tr>
    </table>

    <mat-paginator
      [pageSizeOptions]="[5, 10, 25, 50]" showFirstLastButtons></mat-paginator>
  </div>

</ng-template>
